[2015-09-09 03:14] blimmer opened #2 "isInvalid helper"
Many times, a button is disabled until the model is valid. It would be nice to have an `isInvalid: Ember.computed.not('isValid')` on a validated object.

[2015-09-09 03:19] blimmer opened #3 "Lodash isn't available after installing the package"
I get this error:
[code]

[2015-09-09 03:53] blimmer opened #5 "Confirmation validation behavior causes strange UX"
it's strange to me that there's a validation error message before the user even starts typing the confirmation.

For example, consider a password reset form:
* The user gets here and needs to fill out their password and do a confirmation
* The types their password the first time
* They see a message that the passwords don't match, but they haven't even entered the confirmation yet

For example:

!

[2015-09-09 04:00] blimmer commented on #5
This is a much better UX, IMO:

![](http://zippy.gfycat.com/PopularImmediateCougar.gif)

I wrote a custom validator to do this in my app and am happy to port it over if this is the direction you guys want to go.

[2015-09-09 04:05] blimmer opened #6 "QUnit-flavor tests generated for non qunit users"
At the very least, if they're not using qunit, we should warn and not generate a test.

[code]

[2015-09-09 04:36] stefanpenner commented on #5
ya, the idea is to provide helpers (for the UI) to allow the users to opt into various forms.

[2015-09-09 04:39] #3 closed

[2015-09-09 04:41] stefanpenner commented on #2
seems very reasonable. r? @offirgolan

[2015-09-09 04:48] stefanpenner opened #7 "likely need a readme snippet with and example from the HBS side."

[2015-09-09 06:22] offirgolan commented on #2
I agree. I'll add this tomorrow

[2015-09-09 07:29] jasonmit opened #9 "i18n message example"
Spoke to @stefanpenner awhile back about this, and sticking to my word to investigate it.

Will poke at it at some point this week to see how we'll be able to leverage the services of ember-intl || ember-i18n to resolve translation keys and handle formatting with params.

[2015-09-09 07:44] offirgolan commented on #9
Yeah that was on my todo list as well. I don't think it should be too difficult.... all error messages are stored in `app/validators/messages` so porting that to ember-intl or ember-i18n should be pretty straight forward

[2015-09-09 09:00] stefanpenner commented on #9
:+1:

[2015-09-09 13:25] zhuolikevin commented on #3
Uhm.....I still got this error after I ran
  ember install ember-cp-validations

[2015-09-09 13:46] blimmer commented on #3
We haven't released this fix yet but will later today. For now run `ember g ember-model-validations`

[2015-09-09 16:18] offirgolan commented on #3
@zhuolikevin I will be making a release in the next few hours. I just wanted to include #10.

[2015-09-09 16:37] jasonmit commented on #9
@offirgolan I have the sense it will not be that straight forward because both ember intl and i18n require a container lookup and ember intl handles ICU message syntax where your examples use Ember.String.fmt.

[2015-09-09 17:30] offirgolan opened #12 "v-get helper"
Create a general helper to access properties on the validation object.

- `(v-get model 'username' 'isValid')`
- `(v-get model 'isInvalid')`
- `{{v-get model 'username' 'message'}}`
- `{{#each (v-get model 'messages') as |message|}} {{/each}}`

[2015-09-09 17:41] offirgolan commented on #9
Accessing the messages in the current context is also done via a container lookup. As for the ICU message syntax, that would be something that we would both need to explore.

[2015-09-09 17:58] offirgolan commented on #3
Just release v1.0.1 which should resolve this issue.

[2015-09-09 18:12] ronco opened #13 "Email validation too restrictive"
The current email regex rejects gmail style email aliases (eg `ronco+ember@example.org`).

This can definitely be supported using a custom regex, but I wanted to offer up this alias scenario for consideration as I think it's a pretty common use case.

I think you could go much further if interested.  The specific supported syntax for the local-part of email addresses are a bit tough to divine from

[2015-09-09 19:12] blimmer commented on #13
If it's a valid character in emails, I think we should allow it. I, personally, use this all the time to see who sold my email (e.g. spam to `ben+offendingsite@mydomain.com`)

If people want to prevent the `+`, they should make a custom validator IMO.

[2015-09-09 19:13] offirgolan commented on #13
I agree. Ill add a more extensive email regex.

[2015-09-09 19:19] stefanpenner commented on #13
worth a read: http://davidcel.is/posts/stop-validating-email-addresses-with-regex/

[2015-09-09 19:28] blimmer commented on #13
I get the article's point, but when user registration is a key business metric, you really want to make sure that something stupid (like fat-fingering an email address) doesn't cause you to lose a registration. New users are valuable.

[2015-09-09 20:15] blimmer opened #14 "Changelog"
We should provide a changelog either in the release notes or a CHANGELOG.md file.

[2015-09-09 20:28] ronco commented on #13
I think trying to get a perfect email regex would be a fool's errand.

However there is value in having a 99% solution to help out with fat-fingering and such.  Consumers of this library can always override with their own regex if they want to be vastly more permissive.  I think the current implementation is already covering 98%, it's just us techie types that really make use of the '+' in address

[2015-09-09 20:35] stefanpenner commented on #13
I think what the article really suggests is: be aware of the short-comings, and choose appropriately.

[2015-09-09 20:38] stefanpenner opened #17 "show and example without ember-data"
We should make it obvious, that this lib works with both interchangeably

[2015-09-09 20:38] stefanpenner opened #18 "show async validation example"
something quick and dirty to demonstrate how one would integrate with a foreign backend for some validation.

[2015-09-09 20:41] blimmer commented on #5
1.0.1 fixed this.

[2015-09-09 20:41] #5 closed

[2015-09-09 20:41] #14 closed

[2015-09-09 20:41] blimmer commented on #2
available in 1.0.1

[2015-09-09 20:41] #2 closed

[2015-09-09 22:51] offirgolan commented on #12
I think this helper should just be available for Ember >= 2.0. This way it can just be a wrapper around the implementation for the `get` helper introduced in Ember 2.0.

[code]

After some playing around, I dont know if this is possible. Before, you can access already defined helpers via `Ember.Handlebars.helpers`. From the docs, it notes that all current helpers are under Ember.Templates but that

[2015-09-09 23:37] offirgolan commented on #7
Closing due to #10

[2015-09-09 23:37] #7 closed

[2015-09-10 00:33] rwjblue commented on #12
The `Ember.Templates.helpers` namespace is only used to allow us to group documentation, it is not a "real" thing. In general, you cannot invoke helpers as you used to be able to.

---

My suggestion would be add an AST transformation to transform:

[code]

Into:

[code]

This allows us to have nice things, but keep the simplicity in the end.

[2015-09-10 00:36] rwjblue commented on #12
This intrigued me, so I implemented a first draft of it in JSBin: http://rwjblue.jsbin.com/rujeji/edit?html,js

You can take a peek at ember-gestures to see how to incorporate this into the node-land precompilation for a project:

* https://github.com/runspired/ember-gestures/blob/7986508eb167adc547571e6e6d0aecf791fe9253/index.js#L17-L25
* https://github.com/runspired/ember-gestures/blob/7986508eb

[2015-09-10 01:29] stefanpenner commented on #12
Ah, this totally slipped my mind!

[2015-09-10 03:23] offirgolan commented on #12
This is great! Thanks for the redirection and the first draft. Ill work on this more when I get the chance

[2015-09-10 03:57] blimmer commented on #12
This is really cool. Thanks for the tip @rwjblue

[2015-09-10 04:23] blimmer opened #21 "Extra work done in validation-results-collection.js?"
Are we doing extra work by pulling both `.messages` and `.message` from the validation [here](https://github.com/offirgolan/ember-cp-validations/blob/master/addon/utils/validation-result-collection.js#L62-L65)?

It seems like since `.message` is always an alias to `messages.firstObject` we shouldn't need to grab both. It's working currently because we `flatten` and `uniq`, but if we don't need to

[2015-09-10 05:10] #17 closed

[2015-09-10 05:11] #13 closed

[2015-09-10 05:13] offirgolan commented on #21
I swear it was there for a reason.... Let me think it over and get back to you on this one. Honestly it could just be some old code.

[2015-09-10 05:37] offirgolan commented on #12
Alright so after some tinkering, I was able to get almost everything we need.

[code]

This works great when all params are strings but when they are streams or references, this breaks down

[code]

JSBin: http://jsbin.com/walukeniju/2/edit?html,js,output

[2015-09-10 05:39] offirgolan commented on #12
Another possibility can just be [ember-get-helper](https://github.com/jmurphyau/ember-get-helper/blob/master/addon/helpers/get-glimmer.js)

[2015-09-10 05:59] offirgolan commented on #12
OR one other possibility is to use the already created `get` helper and do an AST transformation to create subexpressions to get to the the correct validation object we need

JSBin: http://jsbin.com/fafesujeyu/1/edit?html,js,output

[2015-09-10 08:09] jamesdixon opened #22 "Tabbing through fields sets off validation unexpectedly"
When viewing the demo, it appears that tabbing through the fields will set off the validation immediately on the field that the cursor is entering. I would expect it to show up on the field that the cursor is leaving, but not the field the cursor is entering. This does not occur when using the mouse to enter a field.

Demo here: http://quick.as/X6QLFp21B

[2015-09-10 11:19] rwjblue commented on #12
Ya, if all the sections are not static strings (you would detect this by seeing a PathExpression in one of the params), then you would replace the 'v-get' subexpression with the 'get' helper that is baked into 2.0 (or folks could use ember-get-helper for 1.x support).

    // model.attr = 'username'
    {{v-get model model.attr 'isValid'}}

Becomes:

    {{get (get model.validations.attrs model.at

[2015-09-10 14:39] blimmer commented on #12
I'd really like to see a solution that's 1.x and 2.x compatible. Many of us have a while to go before we are 2.x compliant.

[2015-09-10 14:42] rwjblue commented on #12
AST Transforms work from 1.10.

[2015-09-10 14:46] blimmer commented on #22
This is something [we've talked about before](https://github.com/offirgolan/ember-cp-validations/issues/5#issuecomment-138777372). Basically, our idea is that this library should be decoupled from the presentation (e.g. not delay running the validations).

How you choose to present the validation messaging is up to you. For my app, I have a component that tracks whether or not the field has been v

[2015-09-10 14:47] stefanpenner commented on #22
yes, this is the goal :+1:

[2015-09-10 18:24] offirgolan commented on #21
Okay so the code that you pointed to is correct. A validation result collection can be a collection of validation-result objects which will only have a single message, a validation-result-collection which will have multiple message, and a model validations object which again will have multiple messages.

[2015-09-10 18:31] offirgolan commented on #12
This gets a little more complicated when the last param is also a PathExpression

`{{v-get model model.attr someObj.child.prop}}`
`{{get (get (get (get model 'validations') 'attrs') model.attr) (get this someObj.child.prop)}}`

@blimmer @stefanpenner if you think this is worth implementing let me know and ill work on this.

[2015-09-10 18:39] blimmer opened #23 "Need a complimentary library to support form validation"
As others have eluded, we need a solution to provide a better UX for displaying validations when used on a form. We don't think that this should be provided as part of this library, but there's interest in defining/developing a solution that works well with this library.

Before we start designing the solution, we want to explore the problem space with some examples ranging from simple to very com

[2015-09-10 18:39] blimmer commented on #22
@jamesdixon , please check out #23 and provide your thoughts/examples.

[2015-09-10 18:39] #22 closed

[2015-09-10 18:40] rwjblue commented on #12
Yes, but it is still very much PAYGO (pay as you go) in that the more complicated you make your `{{v-get}}` invocation the more complicated/costly it becomes.  I think this is probably still fine...

I'm personally :+1: on this path...

---

I do want to make `get` helper aware of paths which would solve some of this crazy nesting, but doesn't help folks right away.

So:

[code]

Could become:

[c

[2015-09-10 18:45] jamesdixon commented on #22
@blimmer - thanks, i did see #5 previously, but it seemed odd that tabbing into the field triggered the message immediately, but clicking into the field did not. I suppose that's something to do with the way the event is triggered. Regardless, maybe there is a better way to demo the library; the demo seems to make it appear "broken" from a user perspective in my opinion.

Regardless, I completely

[2015-09-10 18:49] blimmer opened #24 "Improve Demo with simple visited-input component"
While we're discussing a forms library, we should improve the UX of the demo with a `visited-input` or something that tracks when to show the validation errors. I have one that I could clean up and open-source, and I know that @jimmay5469 said that he has one, too.

This will provide a nice interim solution for folks.

[2015-09-10 18:50] blimmer commented on #22
i opened up #24 for improving the demo. thanks!

[2015-09-10 18:54] offirgolan commented on #12
I like this a lot more. Let me play around with this and get an example jsbin working.

[2015-09-10 18:54] jamesdixon commented on #22
sweet. thanks!

[2015-09-10 20:06] rwjblue commented on #12
Just to note, I am saying I want to fix `get` to allow this.  As of 2.0/2.1 you cannot use a `.` in the second argument to `get`.  https://github.com/emberjs/ember.js/issues/12263 is open for tracking that.

[2015-09-10 20:15] offirgolan commented on #12
Oh I see. Yeah I tried including a string with `.` but it just errored. As for now, Ill just play around with the nested gets

[2015-09-10 21:12] rwjblue commented on #12
https://github.com/emberjs/ember.js/pull/12323 should fix the nested path issue I mentioned above, and should be in 2.1.0.

[2015-09-10 22:00] offirgolan commented on #12
At this point, it would be better to go with the nested `get` helper instead of using concat. That way we can support 1.10 - canary (with the ember-get-helper polyfill)

[2015-09-10 22:57] offirgolan commented on #12
@rwjblue this actually wasnt too hard to implement. I was able to create a version that fits all of our use cases.

http://jsbin.com/yakice/3/edit?html,js,output

[2015-09-10 23:04] rwjblue commented on #12
@offirgolan - Looks great!

I think we still need to handle hash params example also:

[code]

[2015-09-10 23:18] offirgolan commented on #12
Good point. Ill keep hacking away at this.

[2015-09-10 23:41] offirgolan commented on #12
@rwjblue here's a version with hash params working:

http://jsbin.com/yakice/4/edit?html,js,output

Ill work on getting this into the addon. :smile:

[2015-09-10 23:47] rwjblue commented on #12
:+1:

[2015-09-10 23:47] rwjblue commented on #12
Side note: these AST transforms are kinda fun :smiley_cat:

[2015-09-10 23:48] offirgolan commented on #12
Agreed. This was pretty fun to work with

[2015-09-11 22:31] offirgolan commented on #21
@blimmer can we close this?

[2015-09-11 22:46] blimmer commented on #21
Yep, sorry. I read your comment and didn't close it.

[2015-09-11 22:46] #21 closed

[2015-09-12 06:21] offirgolan commented on #12
#26 is merged. Closing :joy_cat:

[2015-09-12 06:21] #12 closed

[2015-09-12 06:57] offirgolan commented on #18
Added an async example to the readme [here](https://github.com/offirgolan/ember-cp-validations/commit/73fd053678b3ce463ac781f2928f701c9108c81e#diff-04c6e90faac2675aa89e2176d2eec7d8R428). Is that what you mean?

[2015-09-12 15:20] blimmer commented on #24
Actually, now that I've had time to dig into the code, the validated-input is a pretty darn good starting point, I think. My solution just relies on `focus-out`, which is not as good of a UX as [the debounce](https://github.com/offirgolan/ember-cp-validations/blob/master/tests/dummy/app/components/validated-input.js#L41) behavior we have today.

@jamesdixon didn't expect this behavior and I'd be i

[2015-09-12 15:20] #24 closed

[2015-09-12 16:15] blimmer commented on #9
A few ideas:

* what do we think about implementing this as a validation-messages service? Either way, we'll need to convert the `utils/messages.js` file to be an Ember Object so we can try to inject the i18n/intl service and pull from them if present. this would be nice because the defaults would be cached in the singleton service.

* we'll need to invalidate the messages on locale change

* I'm

[2015-09-12 18:31] offirgolan commented on #24
The reason for the errors appearing when you tab through an input is because it changes the value of the model attribute from undefined to an empty string. That triggers the validations to run and the errors to display since it is now in a dirty state. Ill take a look at this more when I get some time.

[2015-09-12 18:38] blimmer commented on #24
I think it's questionable whether or not that's a bad UX, though. Visiting a field, even without filling it out seems like a reasonable time to tell the user if they have to fill out the field.

[2015-09-12 18:49] jamesdixon commented on #24
I think the current experience is somewhat jarring in that when you first load the form, as a user, all seems great. Nothing appears to be required and then you enter a seemingly non-required field and boom! Red error messages everywhere!

That said, I prefer some sort of initial 'hinting' that indicates if the field is required and what it requires. If I've left the field after entering it and ha

[2015-09-14 02:21] mitchlloyd opened #27 "Dependent keys for custom validators"
Why not let custom validators use fields on the model at their discretion? This would let me support a lot of more "meta" type validations that I have had to deal with.

Looking at https://github.com/offirgolan/ember-cp-validations/blob/v1.1.0/addon/utils/validations-factory.js#L176-L203 I can see that each built-in validator that needs custom dependent keys is hard-coded. Is a general API for thi

[2015-09-14 09:01] offirgolan opened #28 "Acceptance tests failing in 1.10"

[2015-09-14 17:39] offirgolan commented on #9
I think we may need to step away from String.fmt since it seems like it's being deprecated. We can always move over to using curlies or ICU formatted strings and then create two separate files and choose based on which library is being used.

[2015-09-15 19:15] ivanvotti opened #30 "ember-cp-validations adds about 193 Kb to the vendor.js file size (minimized)"
The library including its dependencies can be too heavy for projects that don't use `lodash` and `moment.js`

For example, [ember-validations](https://github.com/dockyard/ember-validations) adds just about 16 Kb to the vendor.js file (minimized).

[2015-09-15 20:33] rwjblue commented on #30
#31 addresses the lodash part (though I'm not sure how much of the filesize that is)

[2015-09-15 21:24] offirgolan commented on #27
I believe we have two options here. The first is to expand the `dependent` validator which currently adds a dependent key on `dependent.isTruelyValid` by also adding `dependent` to the list.

[code]

The second, is to expose a public api to add custom dependent keys.

[code]

@blimmer  @stefanpenner thoughts?

[2015-09-15 22:08] mitchlloyd commented on #27
@offirgolan One thing to keep in mind is that a validator may be dependent on another validator or a property on the model. For instance, the `dependent` validator uses `on` to specify a path to another validator and the `confirmation` validator uses `on` to specify a path to a `_model` attribute.

One use case I'm thinking of is "make sure this model has least one hasMany model with this property

[2015-09-15 22:32] offirgolan commented on #27
Im not sure I follow...

Wouldn't you be able to achieve the same functionality by doing something like this

[code]

[2015-09-16 11:20] ivanvotti commented on #30
#31 fixes the problem. It's still possible to make the build 42 Kb lighter, if `moment.js` will be optional.

[2015-09-16 11:49] rwjblue commented on #30
Ya, we can do that too I think.

[2015-09-17 15:17] #6 closed

[2015-09-17 21:13] indirect opened #32 "Documentation doesn't mention `needs` for unit tests"
While writing a unit test for an ember-data model with validations, I had to add `needs: ['validator:presence']` to the unit test, which isn't documented anywhere that I can find. Maybe a good thing to mention?

[2015-09-17 21:28] indirect opened #33 "Ember.String.fmt is deprecated"
Inside `createErrorMessage`, the [usage of `Ember.String.fmt`](https://github.com/offirgolan/ember-cp-validations/blob/1c3f32a0c6636fd4a4f3387e1264311c1d472d29/addon/validators/base.js#L105) generates a deprecation warning:

[2015-09-17 21:46] blimmer commented on #33
Yep, we're aware of this and this will likely be resolved by [our i18n solution](https://github.com/offirgolan/ember-cp-validations/issues/9#issuecomment-140155506)

[2015-09-17 22:09] blimmer commented on #32
I'm torn on what to do with this one. It's very common to see container lookups fail in unit tests, and needing to build out the `needs` array. Is the message particularly cryptic, or is it similar to other container lookup failures in unit tests?

[2015-09-17 22:11] blimmer commented on #32
Either way, I don't think it hurts to add into the documentation :-)

We have [a branch](https://github.com/offirgolan/ember-cp-validations/pull/29) for new docs, so maybe a PR once that gets merged? We'd sure appreciate any improvements to docs.

[2015-09-17 23:22] indirect opened #34 "Documentation doesn't explain anything about belongs-to or has-many"
Right now, the documentation says that you can validate associations using `validator('belongs-to')`, but this does not seem to produce any validation error messages under any circumstances—the association is not checked for presence, and the association's validation messages do not bubble up to the parent object's validation messages.

How does it work? What does it do? :)

[2015-09-17 23:47] stefanpenner commented on #34
A place to look for now would be the tests, maybe that will provide some ideas. And maybe inspire said docs.

If I recall, there was an ember-data bug that prevented this library from working on newer version. For a time the feature was just disabled, pending upstream fix. This may or may not be the case right now. Merely providing potentially useful context

[2015-09-17 23:50] indirect commented on #34
The tests provide no examples of using `belongs-to` validations beyond declaring the validator. There is no usage anywhere I could find. (and I did check there first before opening this ticket). :)

[2015-09-18 00:06] offirgolan commented on #34
Can you provide an example of what exactly you're trying to do?

[2015-09-18 00:14] indirect commented on #34
No, I can't... that's the point of this ticket. I don't know what belongs-to does, and the tests don't even provide an example of what belongs-to does... so I don't know what I can do. :)

(I was hoping that it would allow me to make an ember-data model include validation errors from a child, but I just wrote my own validations to handle that, so I don't care anymore.)

[2015-09-18 00:43] #34 closed

[2015-09-18 00:43] stefanpenner opened #35 "association examples"
- [ ] `belongsTo`
- [ ] `hasMany`

[2015-09-18 00:43] stefanpenner opened #36 "association tests"
- [ ] `belongsTo`
- [ ] `hasMany`

[2015-09-18 00:44] stefanpenner commented on #34
closing this, and opening to two targeted issues:

- [missing tests](https://github.com/offirgolan/ember-cp-validations/issues/36)
- [example recommendations](https://github.com/offirgolan/ember-cp-validations/issues/35)

[2015-09-18 23:54] indirect opened #37 "validator option `if` is not documented anywhere"
Even though it is possible to add a condition to validators using the `if` option, it is not documented anywhere. For example:

[code]

This validator does actually use the `enabled` property as a condition to enable or disable this validation, and the `validations.messages` property includes the error message only if `enabled` is true, but the `if` option is not documented anywhere in the ember-c

[2015-09-19 15:11] lolmaus opened #38 "attributeDescription should be per-field, not per-validator"
It is burdensome to pass `attributeDescription` to every validator of a field:

[code]

It is obvious that conceptually `attributeDescription` is an entity that belongs to the whole field and should be shared among all validators.

I suggest the following API:

[code]

which would drastically simplify the above example:

[code]

[2015-09-19 15:17] lolmaus opened #39 "Documenting `createErrorMessage` and allowing custom message templates?"
I found assembling custom validator messages to be burdensome. I decided to have a look how it's done in default validators and discovered that a nice helper `createErrorMessage` is used.

I ended up doing this:

[code]

Suggestions:

1. `createErrorMessage` should be documented in the readmy and not hidden from the public. ^_^
2. Should be able to extend `messages` gracefully in a way that preven

[2015-09-19 20:54] offirgolan commented on #37
Validators do not currently support an `if` option. The best way to achieve this use-case is to create a [custom validator](http://offirgolan.github.io/ember-cp-validations/docs/validators/custom/index.html). Within that, you have full access to the model, along with the ability to inject any service you might need for your validations.

[2015-09-19 21:05] offirgolan commented on #39
:+1:

This should be solved once we move over to our i18n solution #9

[2015-09-19 21:11] offirgolan opened #40 "Needs Documentation"
This is just a comprehensive todo list on what needs to be documented or just needs more extensive documentation.

- [x] `belongsTo` validator
- [x] `hasMany` validator
- [x] `createErrorMessage` in BaseValidator
- [x] `needs` in unit testing
- [x] Better `v-get` helper
- [x] Ember.Object container dependency

[2015-09-19 21:12] offirgolan commented on #39
Closing in favor of #40 and #9.

[2015-09-19 21:12] #39 closed

[2015-09-19 21:12] offirgolan commented on #32
Closing in favor of #40.

[2015-09-19 21:12] #32 closed

[2015-09-19 21:13] offirgolan commented on #35
Closing in favor of #40.

[2015-09-19 21:13] #35 closed

[2015-09-20 00:11] indirect commented on #37
Whoa... I have no idea why I thought that was working, then. Thanks for the clarification!

Adding support for conditional validation based on another property would be pretty awesome.

[2015-09-24 21:38] #9 closed

[2015-09-24 21:41] offirgolan opened #44 "Decoupled i18n Addons"
As discussed in #43 and suggested by @jasonmit, we have decided that it would be better to completely decouple the i18n solutions and leave the work to separate addons that will extend the `message` validator with the logic necessary.

- [x] Support for Ember-Intl
- [x] Support for Ember-I18n
- [x] Support for attributeDescription

Once these two will be supported we can issue a v2.0 release.

[2015-09-24 22:30] jasonmit commented on #44
I can complete these both over the weekend :+1:

[2015-09-24 22:37] offirgolan commented on #44
Great! Once you're done just post the links on here and I'll update the docs :smile:

[2015-09-25 06:18] jasonmit commented on #44
attributeDescription will cause problems, as I'll need a way of overriding that as well when you're generating the message.

[2015-09-25 06:42] jasonmit commented on #44
https://github.com/jasonmit/ember-i18n-cp-validations
https://github.com/jasonmit/ember-intl-cp-validations

both published to npm as 0.0.1.  We'll want to fix `attributeDescription` though as part of this issue.

[2015-09-25 17:16] offirgolan commented on #44
Oh man I didnt even think about that. What if I create another method in `messages`

[code]

Then in your translation you can maybe have something like the following

[code]

[2015-09-25 17:19] offirgolan commented on #38
Thanks for the suggestion. I definitely had something like this in my head for future implementation. Ill take a look into this more when I have some time.

[2015-09-25 20:38] chadian opened #45 "Allow message on custom validators to be set via options"
For all the validators, except ones that are custom, the message is set on the `options` object. It would be handy if this was available for custom validators as well:

[code]

The function passed could return `true` or `false`, with the message still passed in via the options and used when the case is `false`. This would help where people use quick boolean helpers for the function.

[2015-09-25 20:50] #18 closed

[2015-09-25 20:50] #27 closed

[2015-09-25 20:51] #33 closed

[2015-09-25 20:59] offirgolan commented on #45
Im not sure I follow. Could you not do something like this

[code]

or even

[code]

[2015-09-25 21:02] offirgolan commented on #44
Also in regards to your log message, just so I dont forget, the link to the message docs will be wrong once the new docs get published. It will be `http://offirgolan.github.io/ember-cp-validations/docs/messages/index.html`.

[2015-09-25 22:13] jasonmit commented on #44
Sounds good :+1:

[2015-09-27 02:12] chadian commented on #45
You're absolutely right, that's the way you can pass things from the options, or just return the string directly. What I was thinking that you could use a utility function, maybe something you've used elsewhere that relates to the property that you're validating. As an example I'll say `isValidSkuFormat`, that returns a `boolean`.

The validation would look something like this:
[code]
This keeps t

[2015-09-28 05:45] offirgolan commented on #45
I think you might want to try [creating a custom validator](http://offirgolan.github.io/ember-cp-validations/docs/validators/custom/index.html). That should solve your use-case while also giving you the ability to inject services like an ember-data store.

[2015-09-28 14:47] chadian commented on #45
Sounds good, thanks for the feedback.

[2015-09-28 14:47] #45 closed

[2015-09-28 21:18] Vassi opened #48 "Unable to use validations on Ember.Object"
Hello everyone,

This library is amazing! Unfortunately, and maybe I'm doing something horrible here, I'm unable to make this work with an Ember.Object. I keep getting an error from validations-factory.js:288 that reads: "Uncaught TypeError: <(unknown mixin):ember490> is missing a container.

Now, I will admit, I'm trying to maybe be too clever with this, but even when I tighten up the following c

[2015-09-28 21:33] offirgolan commented on #48
The validation mixin needs access to the container to be able to lookup all the validators. I'm assuming in your route you are doing something like this

[code]

If you look at the test cases under `tests/unit/validations` you see we explicitly have to pass in the container (maybe I should add this to the docs).

A quick way to fix to resolve this issue is `return LoginModel.create({ container: th

[2015-09-28 21:43] Vassi commented on #48
Hah, the one file's code I didn't give you =) it was in fact exactly as you said though. The quick fix worked. For my purposes right now that's good enough, though a bit ugly.

For what its worth I think it would be nice to put that in the docs, especially since the docs do explicitly say you can use it on Ember.Object.

Thanks for all the hard work!

[2015-09-28 21:54] offirgolan commented on #48
Yeah I'll add it to the docs for the next version! Thanks for bringing it to my attentions :smiley:

[2015-09-28 21:56] #48 closed

[2015-10-01 18:03] offirgolan commented on #38
This will be available once we release 2.0! Thanks again for the suggestion :smile:

[2015-10-01 18:03] #38 closed

[2015-10-01 18:04] offirgolan commented on #30
Moment has been removed as a dependency but will be required if you want to use the date validator. This will be available when 2.0 is released.

[2015-10-01 18:04] #30 closed

[2015-10-05 23:47] #40 closed

[2015-10-06 21:32] offirgolan commented on #44
All necessary changes are now in master so im gonna go ahead and close this issue.

[2015-10-06 21:32] #44 closed

[2015-10-11 11:33] Blackening999 opened #51 "Don't work with Component"
[code]

Can't access from template through validations.attrs.username (for instance)...

[2015-10-11 11:38] Blackening999 commented on #51
Oops, was my typo there :)

[2015-10-11 11:38] #51 closed

[2015-10-13 15:54] taras opened #52 "Introduction to ember-cp-validations on Global Ember Meetup?"
Would you be interested in giving an *Introduction to ember-cp-validations* lightning talk at one of the future Global Ember Meetups?

The talk is usually 15 minutes long and answers the following questions:

1. What problem is the addon trying to solve?
2. How to get started?
3. How should it be used?
4. What should person be aware of?

We'll produce a video that you can link to in your README. Y

[2015-10-13 15:58] iivvoo opened #53 "v-get can't be used inside {{if}}"
<div class="form-group {{if (v-get model property 'isInvalid') 'has-error' }}">
      <label for="email">{{label}}</label>
      {{input value=(mut (get model property)) placeholder=placeholder class='form-control' type=type}}
      {{#if (v-get model property 'isInvalid')}}
        <div class="error">
          {{v-get model property 'message'}}
        </div>
      {{/if}}
    </div>

The (v-get

[2015-10-13 16:03] rwjblue commented on #53
Thanks for reporting!

Demo JSBin here: http://jsbin.com/racogu/edit?html,js,output

[2015-10-13 16:04] rwjblue commented on #53
@offirgolan - Looks like we need to also handle attributes?

[2015-10-13 17:13] chadian commented on #52
:+1: I would enjoy seeing that.

[2015-10-13 17:26] offirgolan commented on #53
Hmmm we already handle attributes (See [here](https://github.com/offirgolan/ember-cp-validations/blob/master/htmlbars-plugins/v-get.js#L75-L86)) but yeah this is a special case. Ill take a closer look into this.

[2015-10-13 18:45] offirgolan commented on #53
Fixed with `v2.0.1`. Thanks for pointing this issue out!

[2015-10-13 18:45] #53 closed

[2015-10-19 17:27] offirgolan commented on #52
I would love to. Any chance I can get some more details?

[2015-10-19 17:35] taras commented on #52
@offirgolan definitely, we have 4 events scheduled and more in the works for next year. How much time do you need to prepare a talk?

[2015-10-19 17:38] offirgolan commented on #52
Just sent you a PM on slack. I think it would be easier that way lol :smile_cat:

[2015-10-20 13:44] timiyay opened #56 "Further examples for manual validation"
I'm exploring `ember-cp-validations` for form validation in my Ember app. Our use case is similar to your demo:

- no validation message to be shown at first
- only validate each field after `focus-out`

I'm able to use the methods like `isValid` and `isDirty` to partially solve the problem, but these are bound  values, and show up as soon as the user starts typing in a field.

How do I prevent th

[2015-10-20 17:28] offirgolan commented on #56
You can check out the code for the demo app [here](https://github.com/offirgolan/ember-cp-validations/tree/master/tests/dummy/app). I would take a look at the [validated-input component](https://github.com/offirgolan/ember-cp-validations/blob/master/tests/dummy/app/components/validated-input.js) which solves most of your use-cases.

[2015-10-20 18:06] offirgolan commented on #52
Okay so the final date is Saturday, November 7, 2015 · 09:00 AM · Pacific Time (US & Canada). You can sign up [here](https://www.bigmarker.com/global-ember-meetup/Ember-Authentication-Day)!

[2015-10-20 22:48] timiyay commented on #56
@offirgolan Brillant. Thanks for the info. Sorry to open a GH issue for this - I trawled the codebase base but didn't recognise the demo app code when I saw it.

[2015-10-20 22:48] #56 closed

[2015-10-20 22:59] dasnixon opened #57 "[Question] Using a debounce for a promise-based validation"
I have a validation that makes a `GET` request to my server to check if a resource already exists in the system. What is the best approach for a `debounce`? I don't want to make a zillion requests to my API. I tried a few things to no avail. Maybe the debounce logic should just live outside the scope of the validation? To me it feels like I should handle this where the actual request occurs. Hopef

[2015-10-20 23:14] offirgolan commented on #57
If your attribute is bound to an input I would put my debounce on the input value binding.

Lets say my validated attribute is `foo`, then instead of binding my input to `foo`, you can bind to temporary property and debounce that.

[code]

[code]

Hope that helps! You can take a look [here](https://github.com/offirgolan/ember-cp-validations/blob/master/tests/dummy/app/components/validated-input.js

[2015-10-20 23:15] offirgolan commented on #56
No worries! Thanks for reaching out :smile_cat:

[2015-10-20 23:25] dasnixon commented on #57
Makes sense, thanks for the feedback. Thought maybe there was some more elegant solution :smile_cat:

[2015-10-20 23:39] offirgolan commented on #57
Hmmm it might be useful to have a debounce option in the validator options. Ill explore this more :smile:

[2015-10-20 23:45] dasnixon commented on #57
Sweet, I might play around a little, I'll let you know what I find. I'll re-open this since it _could_ be useful

[2015-10-20 23:46] offirgolan opened #58 "Debounced Validations"
In regards to #57, it might be useful from a UX perspective to have an option to debounce validations. This would also be needed for custom ajax dependent validations. This will definitely need to be explored a little more but a simple definition can look something like this:

[code]

@blimmer @stefanpenner any thoughts?

[2015-10-23 10:27] dzbo opened #60 "Number validator?"
I can't locate number validator neither in code nor in the docs. I see there is message for that https://github.com/offirgolan/ember-cp-validations/blob/master/addon/validators/messages.js#L78. Should I create custom one then?

[2015-10-23 20:02] offirgolan commented on #60
My goal was to be able to replace the number validator with the [inclusion/exclusion validators](http://offirgolan.github.io/ember-cp-validations/docs/validators/inclusion/index.html) since they are type checked. If this isnt enough, just use a custom validator for now. If there is a need for a number validator we can create one later down the line.

[2015-10-23 20:42] dzbo commented on #60
Yep, I've created my own number validator for now. But yea, it would be great to have one built in, it's rather common.

[2015-10-27 20:12] offirgolan commented on #60
Please upgrade to 2.1.0 and check out the [number validator docs](http://offirgolan.github.io/ember-cp-validations/docs/validators/number/index.html) :smile_cat:

[2015-10-27 20:12] #60 closed

[2015-10-30 00:22] elwayman02 opened #63 "Presence validation fails on relationships"
If you have a `belongsTo` or `hasMany` and simply want to check that _something_ has been set on the record, but the models on the other side of the relationship don't have validations to run, it makes sense to use a `presence` validator on that attribute. Unfortunately, if you're using Ember-Data (for example), the relationship actually creates a "fulfilled" model that has `null` content until an

[2015-10-30 10:51] jelhan commented on #37
I tried to implement a conditional validator and run in some problems with observers.

Assume we have two properties `name` and `forceName`. `name` must not be present if `forceName` is true. Seems to be easy using a validator function like this one:
[code]

But `name` is not revalidated when `forceName` changes. I ended up with an additional dependent validator just to have `name` revalidated if

[2015-10-30 15:53] offirgolan commented on #37
What about something like this:

[code]

[2015-10-30 16:54] jelhan commented on #37
Oh I missed the `dependentKeys` option. It works like a charm. Thanks for the hint!
[code]

I didn't really get the idea of Options as Functions and what for they should be used. Is there some more documentation or use cases anywhere?

[2015-10-30 19:15] elwayman02 commented on #63
To clarify, Ember-Data creates a `DS.PromiseObject` on the belongsTo relationship, whose content is generally the assigned `DS.Model` record, but is null in the case of nothing being assigned?

[2015-10-30 19:22] elwayman02 commented on #63
I believe the same issue will exist for a `hasMany`, where a `DS.PromiseArray` is initialized by default

[2015-10-30 19:39] elwayman02 commented on #63
Something like this may work:
[code]
Curious as to your thoughts, @offirgolan

[2015-10-30 19:42] elwayman02 commented on #63
Never mind, I've confirmed that this only occurs for `belongsTo`, not `hasMany`. With `hasMany`, Ember-Data leaves the attribute as null until something is set, it seems.

[2015-10-30 19:49] elwayman02 commented on #63
Related: https://github.com/emberjs/data/issues/3897

[2015-11-04 06:51] offirgolan commented on #37
Any option can act as a function which get executed right before validate gets called. The function also has the same context as the validator meaning you have access to all its attributes (like the model being evaluated). In your case an attribute must be present if another attribute on the model is true/false. That means that you can set `presence` at runtime depending on what the value of `forc

[2015-11-04 06:51] #37 closed

[2015-11-04 06:55] offirgolan opened #66 "Better options as functions documentation"
- [x] Date (`moment().subtract(7, 'days'`)
- [x] Option dependent on model attribute

[2015-11-08 18:07] bytheway875 opened #68 "Validations Demo include template code?"
Hi there!

Would it be possible to include the code for the template in the demo when you click "inspect code"? I'd like to see the markup for that, because right now I'm having trouble displaying the errors only after the input is focused on and then again when the submit button is pressed. Alternatively, if you could point me towards the source code for the demo site on github that would be so h

[2015-11-08 18:24] bytheway875 commented on #68
Nevermind! I found the code for the demo app here: https://github.com/offirgolan/ember-cp-validations/tree/master/tests/dummy/app. Thanks

[2015-11-08 18:24] #68 closed

[2015-11-10 19:41] AmilKey opened #71 "V-get helper doesn't work for the relationship"
V-get helper doesn't work for the relationship, for example http://offirgolan.github.io/ember-cp-validations/docs/validators/belongs-to/index.html

[code]

it returns nothing

[2015-11-10 22:53] offirgolan commented on #71
Try
[code]

[2015-11-11 07:48] AmilKey commented on #71
@offirgolan yes, it's works
But why does it is not work for `{{v-get model valuePath 'message'}}` where `valuePath='details.lastName'` ?

[2015-11-11 09:23] offirgolan commented on #71
Which version of Ember are you on?

[2015-11-11 09:30] offirgolan commented on #71
This doesnt work for relationships indeed. The reason behind it is as follows

[code]

converts to `model.validations.attrs.firstName.message`

but if you have a relationship

[code]

that converts to `model.validations.attrs.details.firstName.message`

where really, it should be located in `model.validations.attrs.details.attrs.firstName.message`. The only solution is as I mentioned above (to hav

[2015-11-11 09:38] AmilKey commented on #71
@offirgolan thanks for the explanation!

[2015-11-11 09:39] offirgolan commented on #71
No problem! Glad to help :smile:

[2015-11-11 09:39] #71 closed

[2015-11-11 15:18] stefanpenner commented on #71
might be a good idea for this to be called out in the docs (if not already)

[2015-11-16 22:17] #63 closed

[2015-11-16 22:36] #66 closed

[2015-11-16 22:36] #52 closed

[2015-11-17 21:26] pjmeadmtu opened #73 "number Validator - allowBlank/allowString and zero length value"
I have a number validator that allows blanks and allows strings, but when there's a zero length value an error message displays.  It doesn't appear that it allows blanks.  Below is my validator with options:

[code]

[2015-11-17 23:12] offirgolan commented on #73
What version are you on?

[2015-11-18 14:03] pjmeadmtu commented on #73
I was using the previous v2.1.0.  Upgrading resolved this issue.

[2015-11-18 14:03] #73 closed

[2015-11-18 18:43] offirgolan opened #74 "Support owners instead of container in Ember 2.3"
Reference: http://emberjs.com/blog/2015/11/16/ember-2-2-released.html#toc_introducing-owners-and-deprecating-containers

[2015-11-18 18:45] rox163 opened #75 "Applying multiple separate regex validations possible?"
I have 2 different regex validation options available as utils for my password field. The user can use one or both validations in the model. In the example below we want to have special characters and numbers in the password. I am seeing weird behaviour when applying multiple regex like this -
[code]

When I put in 'a4$' for example in the field, after typing the '$', it shows the Must contain dig

[2015-11-18 18:50] rwjblue commented on #74
Other addon updates:

* https://github.com/emberjs/data/pull/3912
* https://github.com/ef4/liquid-fire/pull/388
* https://github.com/jamesarosen/ember-i18n/pull/336

ember-test-helpers updates included in 0.4.16 (from https://github.com/switchfly/ember-test-helpers/pull/118 and https://github.com/switchfly/ember-test-helpers/pull/119).

[2015-11-18 18:54] offirgolan commented on #75
Can you change your digits regex to `/(?=.*\d)/g`?

[2015-11-18 19:10] offirgolan commented on #74
Awesome! Thanks for the addon and the starting point Rob!

[2015-11-18 19:16] rox163 commented on #75
That seems to have fixed one issue! The Must Contain Digits error doesn't keep reappearing.
After that however I just see The field is invalid. I should see something about the minimum length till I hit 6 chars, but no such luck.

[2015-11-18 19:21] rox163 commented on #75
Yes that has fixed it! Much appreciated!

[2015-11-18 19:22] #75 closed

[2015-11-18 19:25] offirgolan commented on #75
No problem! Glad it worked :smile_cat:

[2015-11-19 19:32] ajgordo opened #77 "Validation in components only"
Using the example code I am trying to create a component that does all it's own validation, but can't quite get it right.
In reality I am looking at creating some input boxes that have the validation baked in to them where they take a property and not a model.

Is this possible, and can you provide any kind of example on how this may work?

Thanks in advance.

[2015-11-19 22:17] offirgolan commented on #77
Im not sure I follow exactly. Can you elaborate a little more?

[2015-11-19 23:25] ajgordo commented on #77
Sorry, a bit of a poorly worded question.

I'm looking at extending validated-input and adding validation directly to it.

So what I'm really looking to do is leave validated-input how it is, and create a new component that extends validated-input and has the validation baked in to it, rather than getting it from a model.

Does that make better sense?

[2015-11-19 23:49] offirgolan commented on #77
This creates validation rules on the bound `value` property that the input is bound to. Not tested but it should work :relaxed:

[code]

[2015-11-19 23:58] ajgordo commented on #77
I actually just came up with nearly the same approach too!
I'm now getting an error that the v-get helper is not found but am still looking in to why (if you happen to know off hand then please let me know :-))
Thanks for the help, it is starting to make sense now.

[2015-11-20 00:00] offirgolan commented on #77
Thats because of [this](https://github.com/offirgolan/ember-cp-validations/blob/master/tests/dummy/app/templates/components/validated-input.hbs#L10)

You need to change that to `{{v-get this 'value' 'message'}}`

[2015-11-20 00:04] ajgordo commented on #77
Yeah, not sure that's it.
In keeping with the theme of not changing my base so that it could be used in it's original state is someone wanted I have set model to this and valuePath to value, but the error continues.
It says the helper can't be found so it might be something else.

[2015-11-20 00:06] offirgolan commented on #77
If you have `validated-input` component with its own template and now you `x-validated-input` component with the changes mentioned above, just create a `x-validated-input` template as well with the new v-get changes.

[2015-11-20 00:40] ajgordo commented on #77
Actually the issue was that I needed to have ember-cp-validations as a dependency instead of as devDependency.
I'll all good now, thanks for the help

[2015-11-20 00:50] offirgolan commented on #77
Ah gotcha. Glad to help :D

[2015-11-20 00:50] #77 closed

[2015-11-20 00:57] rwjblue opened #79 "Add ember 2.0 and 2.1 to ember-try config."
Currently we are only covering 1.10, 1.11, 1.12, 1.13, 2.2, 2.3-beta, 2.4-canary.

[2015-11-20 01:17] offirgolan commented on #79
:+1: Ill add this the next chance I get.

[2015-11-20 16:42] rox163 commented on #77
I am working on a similar issue. Trying to apply validation on a component instead of using a separate model. This helps isolate my form component.
What would the hbs template look like for this example? I seem to have to pass 'model=this' as an attr in the component hbs.

[2015-11-20 16:56] rox163 opened #80 "How to clear a validated field but not show the presence error message?"
I have to implement a Clear button for my form. So this would clear all the input fields and clear any validation error messages as well, specifically the presence one. I've implemented the validations on the field components, not as a separate model. How can I go about this?

[2015-11-20 18:39] offirgolan opened #81 "Clear error messages"
In reference to #80

There should be a way to clear errors with the ability to clear errors for a specific type(s).

- [x] `clearErrors()`
- [x] `clearErrors(['presence', 'length'])`

[2015-11-20 18:40] offirgolan commented on #80
@rox163 if you give me a couple hours, Ill hopefully be able to get this into the next build.

[2015-11-20 18:43] offirgolan commented on #77
If you have a form component with username, email and password and validations on that component itself then this should do the trick.

[code]

[2015-11-20 18:51] rox163 commented on #80
That would be awesome. Thanks!

[2015-11-20 18:56] offirgolan commented on #80
Great! Im gonna close this issue in favor of #81.

[2015-11-20 18:56] #80 closed

[2015-11-20 20:24] offirgolan commented on #79
Added in #82

[2015-11-24 19:07] #74 closed

[2015-12-03 18:09] chadian opened #84 "Validation without messages"
Is it possible to have validations done without a message being included? In this case the messages array would not contain a value for the invalid property.

[2015-12-03 21:53] offirgolan commented on #84
You should be able to do

[code]

[2015-12-07 10:08] lindem opened #85 "checking an arbitrary (Ember.)Object while in a test"
I am trying to do some custom validation for objects pulled in while the test environment runs (ember-qunit). It's built like this:

[code]

I still get  `<(unknown mixin):ember230> is missing a container.` and don't know how to properly pass in the container in this case (but I do have one, it's in `this.container` in the test function scope). Is it at all possible?

[2015-12-07 10:14] offirgolan commented on #85
When you create your `theObject`, you're gonna have to pass in the container as well.

[code]

Hope that helps :smile_cat:

[2015-12-07 10:36] lindem commented on #85
Thanks for clearing that up. Maybe the documentation could be even clearer in where this must be passed in (I know it's in there, but somehow, I didn't get the idea).

Also: What if the arbitrary object had a property named 'container' which was to be validated?

[2015-12-07 10:46] lindem commented on #85
Also, I discovered that my beforeEach somehow didn't do what I expected it to do; a working minimal example is now

[code]

[2015-12-07 10:46] #85 closed

[2015-12-07 18:35] offirgolan commented on #85
A workaround for all this container setup is to just use `moduleFor` from `ember-qunit`

[code]

In this case, `foo` doesnt actually exist, but the container is setup for you so there is no need to do much prep.

[2015-12-07 18:40] #79 closed

[2015-12-10 12:57] ramybenaroya opened #86 "validators of statically created objects can't access custom Messages object"
In validators of statically created objects `this.errorMessages` points to the default `ember-cp-validations/validators/messages` instead of `app/validators/messages`

For example:
[code]

[code]

[code]

[code]

The output will be `"undefined is invalid"` instead of `"example error message"`.
This is because the default message type is `invalid`.

[2015-12-10 18:42] offirgolan commented on #86
Ah I know what the issue is. Ill open a PR with the fix in a little bit. Thanks for pointing this issue out!

[2015-12-10 19:27] jherdman opened #87 "Default Messages Not Found"
I'm installing in an Ember 2.2 application with a simple validations mixin:

[code]

The following error is displayed when running my test suite: "Cannot read property 'create' of undefined", which points to this line: https://github.com/offirgolan/ember-cp-validations/blob/44c8595ec4debfcfa88694d8f75980e8631a059c/addon/validators/base.js#L63

The value of `errorMessages` is undefined at this poin

[2015-12-10 19:48] jherdman commented on #87
Sample app https://github.com/jherdman/ecp-validations-87

[2015-12-10 19:51] offirgolan commented on #86
Waiting on rwjblue/ember-getowner-polyfill#1 before this can be resolved.

[2015-12-10 20:12] offirgolan commented on #87
I believe this is a duplicate of #86. Should be fixed within the next day or two :smile:

[2015-12-10 20:16] jherdman commented on #87
That's awesome! Can't wait to try it out.

[2015-12-11 23:51] chadian commented on #84
I think this returns the default message, but I will have to confirm.

[2015-12-16 23:48] offirgolan commented on #84
Any luck?

[2015-12-17 19:14] offirgolan commented on #86
@ramybenaroya please upgrade to `v2.1.4`. Should solve this problem :smile_cat:

[2015-12-17 19:15] offirgolan commented on #87
@jherdman please upgrade to `v2.1.4`. Should solve this problem :smile_cat:

[2015-12-18 14:49] ramybenaroya commented on #86
@offirgolan Thanks for all your hard work and for this great addon!

[2015-12-18 18:45] jherdman commented on #87
Worked like a charm! Many thanks :cake:

[2015-12-18 18:45] #87 closed

[2015-12-18 19:07] offirgolan commented on #86
Np :smiley_cat: Feel free to reach out if any other issues come up!

[2015-12-18 19:07] #86 closed

[2015-12-19 03:11] jamesdixon opened #91 "Validating Nested Properties"
Hi,

Great library!

Is it possible to validate nested properties of an object when those properties aren't defined explicitly on the model?

For example, I have a field that returns a JSON object for `address` that contains `street`, `city`, `state` and `zipcode` properties. I've attempted to build validations for each of those properties, but no luck. I've also tried creating a computed alias in

[2015-12-19 04:17] offirgolan commented on #91
Im not sure I follow, can you give me some sample code?

[2015-12-19 06:30] jamesdixon commented on #91
Sorry, was on the way out the door and should have just waited to provide a proper example.

Anyways, as I mentioned I have an `address` attribute in my model that's returned by the API as an object and might return something like so:

[code]

I'd like to be able to validate each of those properties individually. I tried something like the following, but was unsuccessful:

[code]

[code]

I also t

[2015-12-20 02:37] offirgolan commented on #91
I think the easiest solution would be to make the address a model relationship via `belongsTo`

[code]

[code]

[code]

[2015-12-20 22:27] jamesdixon commented on #91
@offirgolan thanks for the feedback. Unfortunately, this solution doesn't appear to work for me. First, I'm using JSON API and from [this thread](https://github.com/emberjs/data/issues/3720), it doesn't appear that `JSONAPISerializer` supports Embedded Records. That probably explains why my user model is filled with `undefined`s when attempting to use the `EmbeddedRecordsMixin` in a custom seriali

[2015-12-20 22:54] jamesdixon commented on #91
@offirgolan ok, so the issue is resolved. It was a mistake on my part: although I wasn't able to use the `EmbeddedRecordsMixin`, using `ember-data-model-fragments` is essentially the same thing. My mistake was that when using `v-get`, I was still passing in the base model rather than passing in `model.address`. Since `address` is now a separate model with its own validations, I needed to make sure

[2015-12-20 22:54] #91 closed

[2015-12-21 04:40] offirgolan commented on #91
Glad I was able to kinda sorta help and that it all works now. Happy
holidays! 😁

On Sunday, December 20, 2015, James Dixon <notifications@github.com> wrote:

--
Thanks,
Offir Golan

[2015-12-22 15:11] jamesdixon commented on #58
This would be great. :+1:

[2015-12-22 15:28] stefanpenner commented on #58
is it debouncing we want or throttle?

[2015-12-22 15:32] stefanpenner commented on #58
It seems like we actually want tighter integration with various events, focusOut etc. Having a bunch of async validations on a form the user can fill out quickly results in this strange laziness.

I suspect some combination of better event hooks, and debounce is what we would like to see. (maybe this doesn't preclude standalone debounce)

[2015-12-25 01:07] offirgolan commented on #81
I was able to approach this in a much simpler way that doesnt require any change for this library. I created a demo app to illustrate this

https://github.com/offirgolan/clear-cp-demo

Feel free to clone, `npm i && bower i` then `ember s` to see it in action. The demo is based on the demo app of this library but with a reset functionality. To see the changes I made, you can look at [this commit](h

[2015-12-25 01:07] #81 closed

[2015-12-25 03:27] offirgolan commented on #84
Just tried this myself, you would have to pass a string with a space

`validator('length', { min: 1, message: ' ' });`

[2015-12-25 03:27] #84 closed

[2015-12-26 18:35] phcoliveira opened #93 "Implement public API for getting options from each validation."
HI there! Great work you've been doing. Thanks!

I haven't found a public API for getting the original options passed to each validation. I would like to use them in association with certain HTML attributes. Here is an example of what I would like to do:

[code]

I am using the ```v-get``` helper. I wrote the example that way trying to make myself clearer.

Anyway, I think that such API would be u

[2015-12-28 21:28] offirgolan commented on #93
Hi @phcoliveira! Thanks for pointing this use case out to me. Let me take some time to think about the best way to support this :smile_cat:

[2016-01-04 22:08] ajgordo commented on #58
I'm curious if there is any kind of workaround for forcing validation on focusOut right now. Using the validated-input component as an reference I want to add to it a validate check when it loses focus. I see you can do that on the model, but I want to see if you can do it within the component itself?

[2016-01-04 22:12] stefanpenner commented on #58
I would love for this to be easy. I think @offirgolan and me have chatted about it a few times.

[2016-01-04 22:16] jamesdixon commented on #58
@ajgordo not sure if this helps as I'm using [ember-paper](https://github.com/miguelcobain/ember-paper) for my component library, but I modified `validated-input` like so to get validation working on focusOut:

[code]
[code]

[2016-01-05 01:45] offirgolan commented on #58
I think the solution provided by @jamesdixon is pretty solid. I honestly dont think that this library has any business in providing hooks for `focusOut` `focusIn` and so on since they are component only based events. In the context of this addon, all we have access to when validating is the object at hand, anything beyond that should be a separate addon. I think that the `validated-input` componen

[2016-01-05 01:47] ajgordo commented on #58
Thanks for the info. My circumstance was a little different, but I was able to get what I needed thanks to the information provided.

[2016-01-06 13:58] lindem opened #95 "stability of _type-field"
I want to check for the type of a validator for a given attribute (to determine if there is a 'presence'-validation, to adapt css classes in a form for a given field, like, 'must be filled in'). Is it safe to use the `_type` field of a given validator for this purpose? The underscore hints at privateness or instability.

How likely is this to change? Is there a better way to check?

[2016-01-06 14:40] lindem commented on #95
It seems that #93 is related to this issue as well; maybe there is will be a common solution for both issues.

[2016-01-06 18:56] offirgolan commented on #95
You are welcome to use the `_type` field. I dont think it will be changing anytime soon but I will try to create a solution of #93 as soon as I have some time to work on it :smile:

[2016-01-07 00:39] offirgolan commented on #58
This is now in master. Will release it in a couple days.

[2016-01-07 00:39] #58 closed

[2016-01-07 00:40] #57 closed

[2016-01-07 00:40] #95 closed

[2016-01-07 00:48] #93 closed

[2016-01-07 00:48] offirgolan commented on #93
Ill have a release out tonight

[2016-01-07 05:25] offirgolan commented on #93
Tagged and released with `v2.2.0`

[2016-01-07 05:25] offirgolan commented on #58
Tagged and released with `v2.2.0`

[2016-01-07 05:29] offirgolan commented on #95
#93 has been resolved and is in `v2.2.0`

[2016-01-07 16:17] jamesdixon commented on #58
:+1:

[2016-01-07 19:43] opiedog opened #97 "How to validate an ember-data model object"
Sorry if my terminology is incorrect but I'm still learning Ember.

I have a model like this:
export default DS.Model.extend(Validations, {
  location: DS.belongsTo('location', { async: true }),
  ...
}

In my current (pre ember-cp-validations) code I validate that the location object has a valid ID like this:
      if (!adjustment.get('location.id') || !utils.isGuid(adjustment.get('location.id'))

[2016-01-08 05:06] offirgolan commented on #97
You will have to use the [belongs-to validator](http://offirgolan.github.io/ember-cp-validations/docs/classes/Belongs%20To.html) on the `location` attribute.

[code]

[code]

When validating `id`, you can choose to just use a function or create a [custom validator](http://offirgolan.github.io/ember-cp-validations/docs/classes/Custom.html)

[2016-01-08 21:57] dodeja commented on #58
@offirgolan I think the validated-input example is good, especially after the updates. Don't necessarily think it needs to a component and part of this library but would be good to include in the docs.

[2016-01-08 23:07] opiedog commented on #97
Thanks, this was very helpful!

[2016-01-08 23:07] #97 closed

[2016-01-11 18:57] dasnixon commented on #57
@offirgolan thanks for implementing!

[2016-01-11 18:59] offirgolan commented on #57
No problem :smile_cat: Thanks for the idea!

[2016-01-14 13:28] lindem commented on #95
Sorry for commenting on this again, but I have a pretty similar question once again: what about getting a validator function to validate arbitrary data from a model? To call the function I can do (from a live example, ember578 is the guid for a model):

[code]

Getting theOptions from the solution in #96. The actual questions are "How stable is the `_validators` field" and "is there an easier way"

[2016-01-14 19:57] offirgolan commented on #95
I definitely think that using a container lookup is better than using the `_validators` object (thats what we do internally). I was hoping you can explain your use case a little better because Im not sure I follow

[2016-01-15 07:00] lindem commented on #95
To further elaborate my use case: We have form fields which get told which model and attribute of that model they are going to fill in, and we want these form fields to fetch the validations from the model they are configured on (either we create the record on form display or we fetch an existing one). That all works fine so far.

But. If you don't want to directly two-way-bind to a model attribut

[2016-01-15 07:13] lindem opened #101 "configurable errors on lookup"
right now, if a validator is not to be found in the container, cp-validations issue a warning. Is there any plan to make this an exception (like, a real error), possibly via environment?

My rationale is that a validator not being found is clearly "a piece of software not working as you expect it" (because then, the validation **passes** automatically). Thoughts?

[2016-01-16 23:56] steffenbrem opened #102 "debounced validations does not work"
The debounce is not really debouncing because of the following code: https://github.com/offirgolan/ember-cp-validations/blob/master/addon/validations/factory.js#L250

You cannot pass an anonymous function as the debounce method, but it should rather pass in a reference of a function (http://emberjs.com/api/classes/Ember.run.html#method_debounce).

[2016-01-17 01:04] offirgolan commented on #102
:+1:  Ill issue out a fix for this soon

[2016-01-17 01:25] #102 closed

[2016-01-17 01:27] steffenbrem commented on #102
Thanks @offirgolan quick fix! :+1:

[2016-01-17 01:39] offirgolan commented on #102
No problem! v2.2.1 has been release to npm :smile_cat:. Thanks for pointing this out

[2016-01-20 17:19] santo74 opened #104 "validation depending on status of other field"
I'm trying to implement form validation via a component, which receives it's model from the route.
This is working fine for most fields, but there are 2 fields that only need to be validated when one of the other fields, a checkbox, is set to true.
How can I do this?

I tried via an action which is triggered whenever the checkbox is toggled, but I don't see how I can access the validate() or valid

[2016-01-20 17:29] mguida22 opened #105 "Email validation doesn't require top level domain"
The email validation only requires that one character exists after the `@` symbol. This allows for email addresses such as `a@b` or `foo@bar` to be marked as valid. A live demo of this can be seen by trying either of the examples on the project demo page.

http://offirgolan.github.io/ember-cp-validations/

[2016-01-20 19:31] offirgolan commented on #104
What you actually want is to validate the `registration` object but you are instead validating the component which doesnt have any of the fields you are validating. Currently, in your component, you are validating `username`, `email`, etc. which acutally exist on the `registration` attribute.

In this case, I would suggest placing your validations on the model.

[code]

And in your component

[cod

[2016-01-20 19:39] offirgolan commented on #104
On that note, I do like the idea of being able to enable/disable validations

[code]

A more useful case for this would be

[code]

@stefanpenner @rwjblue what do you guys think of this feature? Implementing this is fairly simple but a couple question arise.

1. Do we treat a disabled validation as a validator that just returns true?
2. If an attribute is in an invalid state and `enabled` is switc

[2016-01-20 22:27] santo74 commented on #104
Thanks for the explanation, but I don't fully understand what's wrong with my initial approach.
According to the docs, I should be able to do the validation on the component, which is what I was doing and it worked great, apart from the checkbox issue.

Nevertheless, I tried to refactor my code to what you suggested.
Initially I got some errors, but after some extra refactoring (using separate mod

[2016-01-20 23:14] offirgolan commented on #104
@santo74 my apologies, I guess I didnt fully understand your original implementation. Unfortunately as of right now, I cant really think of a good way to do this without implementation of the suggested `enabled` option feature specified up top. One other possibility of doing this is to have two different components (one with full validations, one without the 2 field validations).

[code]

[code]

[2016-01-21 00:05] santo74 commented on #104
Ok, thanks for the suggestion, I might try the workaround with 2 components, although it is definitely a hack ;-)
The enabled option would be a nice solution indeed.

On the other hand I don't understand why the explicit call to validateSync() doesn't trigger a new validation of the fields.
What I noticed is that the model field returned by validateSync() is "undefined":

[code]
results in
[code]

[2016-01-21 00:19] offirgolan commented on #104
Can you provide your current implementation? If you have switched over to validating over a __model__ instead of a __component__, having two components wouldn't make sense. You would instead have to have two separate model definitions with the different validations.

[2016-01-21 09:35] santo74 commented on #104
Yes, I switched to validation over a model as you suggested, but I'm not sure if/how I can switch a route's model on the fly.
Also this would affect the 'company' flag, which is used for the condition in the template.

However, I was able to solve it by setting up an observer for the company checkbox, which touches the companyName and vat fields on change:

component.js:
[code]
This forces validat

[2016-01-21 15:52] thoresuenert opened #107 "Attempting to register an unknown factory: `validator:card-number`"
Hello,
after running the generator: ember g validator card-number the unit test fails with:
[code]
I am using:
ember 2.3.0-beta.1

with PODs structure and a modulesprefix name.

generated validator is in app/validators/card-number
console.log:
[code]
Anybody can hint me in the right direction to solve this problem?

[2016-01-21 22:05] offirgolan commented on #105
Thanks for opening an issue! :smile:

The regex used to match email addresses follows the [W3C HTML5 spec](https://www.w3.org/TR/html5/forms.html#valid-e-mail-address). If you require a more strict email validation, I would either pass in a new regex or create a new validator that extends the `format` validator and overwrite `regularExpressions.email`.

If this becomes a bigger issue, I'll take a

[2016-01-21 22:12] offirgolan commented on #107
Can you please add your test case code?

[2016-01-21 22:18] mguida22 commented on #105
Thanks for the reply! That sounds good to me!

[2016-01-21 22:18] #105 closed

[2016-01-21 22:18] thoresuenert commented on #107
[code]

[2016-01-21 22:21] offirgolan commented on #107
Oh this is right out of the box... interesting. Can you also add your `package.json` and `bower.json`?

[2016-01-21 22:22] thoresuenert commented on #107
package.json
[code]
bower.json
[code]

[2016-01-21 22:46] offirgolan commented on #107
Hmmm I'm not able to recreate this issue. I created a fresh dummy app with the setup below and ran `ember g validator card-number` and the test passes.

In config/environment.js
[code]

bower.json

[code]

package.json

[code]

[2016-01-21 23:21] thoresuenert commented on #107
I removed:
packages.json
[code]
and it is working right now.
I guess it will be the first one which leads to this error.
I dont know why that module is in there, maybe it is needed for ember 2.2

[2016-01-22 00:18] offirgolan commented on #107
Ah... `ember-cli-ic-ajax` has been replace by `ember-ajax` and `ember-cli-content-security-policy` was removed in ember-cli 2.2.x.

[2016-01-22 00:18] #107 closed

[2016-01-22 00:19] thoresuenert commented on #107
thanks for your time.

[2016-01-22 00:20] offirgolan commented on #104
:+1: okay cool! I'm glad you have a temporary working version in place for now. Im just waiting on a review for #106 and that should replace the need for this :smile_cat:

[2016-01-22 00:22] offirgolan commented on #107
Np! :smiley_cat:

[2016-01-22 14:23] Sinled opened #108 "Several validation mixins on one model."
Hi, at first thanks for this handy validation plugin.

I have a small issue, i need possibility to add several validation mixins to one model:

[code]

Currently it is not working, may be i am doing something wrong?

[2016-01-22 19:47] offirgolan commented on #108
Unfortunately this isn't currently possible nor do I think it will be supported. You can do the following instead:

[code]

Where Time and TeamCount hold your validator rules

[2016-01-25 08:59] Sinled commented on #108
Thanks, i'll try this, it's better than nothing :)

[2016-01-25 08:59] #108 closed

[2016-01-28 18:53] #104 closed

[2016-01-28 19:16] offirgolan commented on #104
@santo74 `v2.3.0` has been released with the ability to enable/disable validations. See docs [here](http://offirgolan.github.io/ember-cp-validations/docs/modules/Validators.html)

[2016-01-28 19:41] offirgolan commented on #101
:+1: I agree with making this throw an error instead of a warning.

[2016-01-28 19:42] #101 closed

[2016-01-29 08:02] santo74 commented on #104
Thanks, exactly what I needed!

[2016-01-30 22:12] artmees commented on #51
can you post a full example code ( as I'm new to ember and struggling to get component only validation to work for similar sign up form without using models )

[2016-01-31 00:15] artmees opened #109 "Validating form submissions without model"
sorry I'm new to ember... and I'm not sure if this possible/correct or not ?
but is it possible to validate forms only for submission without having the component backed with some model...
for example (login page) that require the user to insert his email and password ( need only to validate the form )

here is the code used
[code]
and here is the template code
[code]
I don't have a controller or

[2016-01-31 02:12] offirgolan commented on #109
Your validated component will look something like this

[code]

From there you are welcome to use the [validated-input component](https://github.com/offirgolan/ember-cp-validations/blob/master/tests/dummy/app/components/validated-input.js) that is used in the demo app (make sure you checkout the [associated template file](https://github.com/offirgolan/ember-cp-validations/blob/master/tests/dummy/a

[2016-01-31 21:00] artmees commented on #109
but how do I disable the submit button when the form is invalid ?

[2016-01-31 22:03] artmees commented on #109
to help others stumbling in the same issue ( and also validate the solution )... here is the full code

[code]

and here is the template ( with sign in disabled unless the form is valid )
[code]
given that you add the `validated-input` component and component template ( mentioned earlier )

[2016-01-31 22:03] #109 closed

[2016-02-01 04:35] offirgolan commented on #109
Glad you were able to figure it out :smile_cat:

For the submit button, you can also use the [v-get helper](http://offirgolan.github.io/ember-cp-validations/docs/modules/Templating.html)

[code]

[2016-02-01 16:55] blimmer opened #110 "document how to handle server errors"
I recently ran into a case where the client couldn't handle the validation error (MFA token). Is there a way to push that error into the validation errors array? Or, should I handle that separately (outside of cp-validations).

[2016-02-01 18:43] offirgolan commented on #110
Can I get a little bit more details? Where is this token stored? Where is the error actually coming from and stored? Is this coming from an ember-data model or an ember object?

[2016-02-01 23:16] blimmer commented on #110
Yep, sorry, I should have provided more information about this before opening the issue.

In order for a user to log in to our site, they need to provide a multifactor authentication token. So, the validations that can be calculated client side look like this:

[code]

However, there's no way that the client could ever know whether or not the MFA token was correct (the server is the one who valida

[2016-02-02 01:21] offirgolan commented on #110
I see. That's pretty much how I would handle that. I don't really see any other way :smile_cat:

[2016-02-02 21:13] blimmer commented on #110
OK cool, just wanted to see if you had any other thoughts. Do you think this would be work a docs PR? I tried searching issues and docs for how to handle server-generated errors and came up dry.

[2016-02-03 01:44] offirgolan commented on #110
Hmmm I dont really think it's necessary, since the validator you described is simply a custom validator with a dependent key on the model. If more questions like these arise in the future, I can put up a new section in the docs for some "advanced" examples.

Maybe a good idea would be to open up an issue in the mean time with some examples on how to solve so more complex validations and I can crea

[2016-02-03 01:50] #28 closed

[2016-02-03 01:51] offirgolan commented on #36
Since this has been opened, this addon has been thoroughly tested and documented. Closing. :smile_cat:

[2016-02-03 01:51] #36 closed

[2016-02-05 09:16] benperiton opened #111 "Validation on models with inheritance"
Is there a 'best practice' for adding validations to models that are extending others?

For instance, if I have a Staff model that extends a User model, at the moment only the validations on the Staff model have any affect.

User model:
[code]

Staff model:
[code]

Here, only the job_title is validated. I've tried a few different ways, but they didn't really work, so at the moment Im just duplicat

[2016-02-05 18:36] offirgolan commented on #111
Unfortunately, this isn't really supported but there is a pretty simple workaround.

User Model:

[code]

Staff Model:

[code]

[2016-02-05 22:46] offirgolan commented on #111
@benperiton actually, if you wait a bit, Im working on a solution for this to work out of the box :smile_cat:

[2016-02-06 01:48] jasonmit opened #113 "Feature Request: hasValidated as validation state"
A common pattern is surfacing validation errors after the user touched a field.

It would be great if this state was stored on the validation object and flipped only when `validate` or `validateSync` is invoked and in the case of the async validation - once it's resolved.

Thoughts?  I can work on this if there is buy-in.

[2016-02-07 20:19] thiyagu06 opened #114 "templating sample for has many validation"
Can you provide the template sample for has many validation?

[2016-02-07 20:50] offirgolan commented on #114
Im not sure I follow exactly what you're asking for, can you elaborate a little more?

[2016-02-07 21:03] thiyagu06 commented on #114
I have asked how to use has many validation.. Now I found the same in your documentation.so closing this issue now. Regret the inconvenience

[2016-02-07 21:03] #114 closed

[2016-02-07 21:05] thiyagu06 commented on #114
What changes to be done if I want to handle server side error. I mean to
handle DS.errors??
On Feb 8, 2016 2:20 AM, "Offir Golan" <notifications@github.com> wrote:

[2016-02-07 22:40] offirgolan commented on #114
See #110 :smile_cat:

[2016-02-08 10:27] benperiton commented on #111
@offirgolan Nice one! I was going to have a look at implementing this today, seems I shall not be doing so! Thanks :)

[2016-02-08 21:23] offirgolan commented on #113
Im not exactly sold on the idea that this should be part of this library. I feel like we provide enough state properties such as `isValidating` and `isValid` (or `isTruelyValid`), that this type of state should be handled solely by the user.

[code]

I think that the term `hasValidated` is sort of misleading, in the sense that it implies that calling `validate` or `validateSync` actually trigger v

[2016-02-09 01:01] jasonmit commented on #113
I see everyone having to manage this state https://github.com/offirgolan/ember-cp-validations/blob/bf1e4642d0358fe41f1bee550004831bc4b89a45/tests/dummy/app/controllers/index.js#L33

which I think can be internalized since you know when validate/validateSync was invoked.  Dirtying the any of the attributes would flip this state back.  Closing and will implement it on my end.

[2016-02-09 04:50] offirgolan commented on #113
Hmmmmm I see your point. So this leads to two questions:

1. When is this flag turned on
2. When/how is this flag turned off

[2016-02-09 05:39] jasonmit commented on #113
After `validate` or `validateSync` are invoked.

When an attribute that has a validator is touched.

What I'm saying is just a proposal, so feel free to keep bouncing ideas off me or whoever until you're comfortable with the idea.

[2016-02-09 20:46] offirgolan commented on #111
@benperiton if you are up for it, you can grab my branch via NPM (until it gets merged), test it in your app and let me know if it is working well for you

[code]

[2016-02-09 21:02] offirgolan commented on #113
Maybe the best way to go about this is (if you have some spare time) to create this feature and open a PR and we can discuss from there :smile_cat:

[2016-02-12 00:33] #111 closed

[2016-02-12 15:09] thiyagu06 opened #118 "How to handleDS.errors?"
Is there any code need be wriiten if server throws 422 errors.The one which is mentioned in the below link.

http://emberjs.com/api/data/classes/DS.Errors.html

[2016-02-12 19:16] offirgolan commented on #111
@benperiton `v2.4.0` has been released and inheritance should work out of the box :smile_cat:

[2016-02-12 19:26] offirgolan commented on #118
You can do something like this

[code]

[2016-02-13 12:29] thiyagu06 commented on #118
Do I need to use this for each attributes in the model?

[2016-02-13 19:16] thiyagu06 commented on #118
it is not working for embedded belongs to and has many relationships..

[2016-02-14 03:55] offirgolan commented on #118
You have to put your validations on the model that has the errors. You cant validate `child` on `model.child` if that makes sense...

On a side note: @blimmer is this the sort of issue you have been facing as well? Would it help to have a `validator('ds-error')` that handles the dependentKeys and spits out the last error for the given attribute?

[2016-02-15 13:49] robbyoconnor opened #119 "Seem to be getting warnings when using ember-cp-validations"
I'm getting warnings when in my console:

[code]
WARNING: Dependent keys containing @each only work one level deep. You cannot use nested forms like todos.@each.owner.name or todos.@each.owner.@each.name. Please create an intermediary computed property.
ember.debug.js:27627

WARNING: Dependent keys containing @each only work one level deep. You cannot use nested forms like todos.@each.owner.name o

[2016-02-15 20:06] offirgolan commented on #119
Can you add a snippet of your Validations?

On Monday, February 15, 2016, robbyoconnor <notifications@github.com> wrote:

--
Thanks,
Offir Golan

[2016-02-16 01:32] robbyoconnor commented on #119
It was a simple date validator a couple presence validators -- no dependent relationships
On 02/15/2016 03:06 PM, Offir Golan wrote:

[2016-02-16 01:35] robbyoconnor commented on #119
It was a simple date validator and a large chunk of it was taken from the dummy app as a reference.

[2016-02-16 07:48] ChrizzDF opened #121 "Broken link in your docs page"
Hi @offirgolan,

I just noticed that on your docs page (http://offirgolan.github.io/ember-cp-validations/docs/modules/Home.html), the link to your demo app refers to "http://offirgolan.github.io/" but actually the demo is available under "http://offirgolan.github.io/ember-cp-validations".

Thanks for this awesome package, I really appreciate it! =)

[2016-02-17 05:55] offirgolan commented on #121
Thanks for pointing this out! Link is fixed now :+1:

[2016-02-17 05:55] #121 closed

[2016-02-17 06:01] offirgolan commented on #119
:+1: thanks for bringing this to my attention. Ill take a deeper look when I have some time

[2016-02-18 18:47] kat3kasper opened #124 "Validate on runs validation on all attributes"
I'm wondering why when using `on` during validate, validate still validates each attr and only stores the results of those whitelisted. This seems like unnecessary processing. Why not only run the validation if on is not defined or the attr is specified.

[code]

[2016-02-18 19:34] offirgolan commented on #124
Im not sure I'm understanding you question but if `on` is provided, we only validate the attributes that are given in that collection

[code]

[2016-02-18 19:38] kat3kasper commented on #124
That is the thing we don't only validate the attributes that are in the given collection. We validate all the attributes but only return the results of the whitelisted attributes.

The original validate calls `validationResult = get(this, 'attrs.${name}');` on all attributes then if whitelisted adds the results to `validationResults`.

My updated code above only runs the validations if the attribu

[2016-02-18 19:54] offirgolan commented on #124
Oh you posted modified code! I thought that was the original code lol.

I see what you mean! I'll make the change :smile_cat:

[2016-02-18 20:00] #124 closed

[2016-02-18 20:01] offirgolan commented on #124
Thanks for creating the issue and bringing this to my attention!

[2016-02-18 20:10] kat3kasper commented on #124
If you add this to the CHANGELOG can you attribute it to me? thank you

[2016-02-18 20:12] stefanpenner commented on #124
good catch

[2016-02-18 23:28] kbalyasnikov opened #125 "Email uniqueness validation question"
Hi!

Thanks for awesome library! I have searched for open and closed issues but haven't found answer to my questions.

1) How can i call custom (or any other) validator only if another validators on the same property are passed?

For example i have "email" property with "presence" and "format" validators attached. Those two works great. After that i add "unique-email" validator, but it's get calle

[2016-02-19 01:18] offirgolan commented on #125
1) Im really not sure if this would work but you can give it a shot

[code]

It's not very pretty but with the current implementation, Im not really sure if this sort of thing would be simple to do. Let me know how this works out for you and if it doesnt, ill spend some more time on this :smile:

2) Im not really sure I understand what you mean but options can be placed on the entire attribute or

[2016-02-19 01:42] kbalyasnikov commented on #125
1) Sorry, this solution doesn't work. "model.validations.attrs.email" is not populated until all property validators gets executed. The only workaround i found is to check in unique-email validator if email is valid before sending request to server.
2) That's what i wanted, thanks! Works like a charm!

[2016-02-19 07:31] offirgolan commented on #119
Fixed with `v2.4.1`

[2016-02-19 07:31] #119 closed

[2016-02-19 07:32] offirgolan commented on #124
Fixed with `v2.4.1`, attributed you in the changelog as well :smile:

[2016-02-19 12:18] HenryVonfire opened #126 "Build validations dynamically"
Is it possible to build the validations of a model dynamically? I would like to provide some validations from the server.

[2016-02-19 18:38] offirgolan commented on #126
Can you elaborate by what you mean on 'providing some validations from the server'?

[2016-02-19 18:48] HenryVonfire commented on #126
If I'm not mistaken, with `ember-cp-validations` the model validations need to be defined statically but for some models I would to be the server the one giving the parameters to validate these models in the client. The only possible way that occurs to me to achieve this with `ember-cp-validations` is to extend `ember objects` with the validations sent from the server and copy the models into them

[2016-02-20 16:04] blimmer commented on #118
@offirgolan that would be helpful - it would be especially helpful if it could identify the model property and mark that invalid (e.g. on a user form, highlight what is invalid like birthdate).

[2016-02-22 19:53] offirgolan commented on #126
If you're using Ember.Object and not DS.Model, you can easily do this.

[code]

If you are using DS.Model, this is currently not supported. There have been some talks about creating a flow to generate validations from the server but I havent had the chance to work on that. Maybe @stefanpenner can shed some light here

[2016-02-22 19:56] offirgolan commented on #125
I see. Another solution would be to extend the `format` validator

[code]

[2016-02-22 20:45] stefanpenner commented on #126
@offirgolan what you describe sounds accurate.

[2016-02-22 20:52] HenryVonfire commented on #126
That was the idea I was mentioning, using an `Ember.Object`, extend it with validations and fill it with the properties of a `DS.Model` record but I was hoping there was a better solution for this 😩.

Anyway, thanks for the help and your time 😊

[2016-02-22 21:53] stefanpenner commented on #126
I'm not sure why that wouldn't also work with a DS.Model. That being said, if you are constantly building new validations for each instance of a model, you will suffer performance issues similar to other validation libraries, whereas by-default this library is very performant.

You should share some examples of the validations you received from the server and the models they are applied to. I susp

[2016-02-23 08:48] HenryVonfire commented on #126
Is not that there are too many changes in the validations but we want to have the feature of changing them in the server and these changes being reflected automatically in the client. It's just for maintenance purposes. Maybe it isn't worth?

[2016-02-23 22:33] #118 closed

[2016-02-23 22:46] offirgolan commented on #118
@thiyagu06 `v2.5.0` has been released with a new DS Error validator :smile_cat:

[2016-02-25 10:43] nicozimmermann94 opened #128 "How to use this library?"
Hello, maybe I am blind or very stupid, but I cannot find a way to actually USE this library.
I watched the talk video and had a look at the demo file, but I cannot find anything about how to check if the validation works or how to display errors in a form (for example).
I got how to implement the rules in the model but what now?
Maybe this is a very stupid issue.

[2016-02-25 18:38] offirgolan commented on #128
Check out the [Validations docs](http://offirgolan.github.io/ember-cp-validations/docs/modules/Validations.html).

For example, if you have a User model and you want to see if username is valid, you can do something like this

`user.get('validations.attrs.username.isValid')`

If you have some more specific questions, feel free to add them here and I can answer as best as I can :smile_cat:

[2016-02-26 20:50] offirgolan opened #129 "Support for Server Side Validations"
I know @stefanpenner and I talked about this in the early stages of this library, but I was hoping to get a discussion going to talk about the implementation of this.

Ill start this thread off by just throwing some ideas :bulb:

[code]

My idea is to keep this object on the proto, then once the first object is instantiated, execute the getValidations promise (this will give us access to the conta

[2016-02-26 20:53] offirgolan commented on #126
Opened up a discussion on this (#129)

[2016-02-26 20:53] #126 closed

[2016-02-29 15:27] #128 closed

[2016-02-29 15:28] nicozimmermann94 commented on #128
Thank you very much.

[2016-02-29 16:38] jherdman commented on #37
I'm not sure this is quite working correctly. I have a similar use case. Here's my validation mixin:

[code]

The first time this validation fires for an optional attribute it works for a blank value. The second time it fires when a value has been entered, the message is "This field must be blank". Both times the validation fires the above `presence()` method returns `false`.

Perhaps I'm misunder

[2016-02-29 17:39] offirgolan commented on #37
From what I can see, you have the following

[code]

but are returning `return required && included;`. Your variable names dont match.

[2016-02-29 18:17] jherdman commented on #37
That's just my fat fingers changing variable names a bit for the purpose of this example :)

[2016-02-29 21:52] jelhan commented on #37
You misunderstood the api. I got also confused first time. If presence returns `false` it means: Must not be presence. To make the field optional presence must be `null`.

[2016-02-29 21:58] offirgolan commented on #37
:+1: Thats right.

@jherdman I think what you are looking for is `disabled`

[code]

[2016-03-01 08:37] riklaunim opened #130 "Integrating with ember data json API backend errors"
I have a form than on submit passes data to controller, controller makes a new model record, calls save().then(..., ...) and on fail it gets response.errors and passes them down to component that displays them by the fields.

Can I integrate this somehow with ember-cp-validations? DS.Error support is listed. My current frontend validation is hooked to a component but likely could also be pushed to

[2016-03-01 13:46] jherdman commented on #37
That worked like a charm! Many thanks, folks!

For any future users out there that feel a little lost, you probably made the same mistake I did and didn't read the [Validators](https://offirgolan.github.io/ember-cp-validations/docs/modules/Validators.html) documentation.

[2016-03-03 20:28] donovan-graham opened #131 "nested keys to validate"
I would like to be able to add validation at a form or component level.  It would be amazing if I could assign validations to nested attributes of objects e.g `user.firstName`.    I'm struggling to find a way to do this, any help would be much appreciated.

[code]

[2016-03-03 22:21] offirgolan commented on #130
You can either change your code base to follow the DS.Errors methodology or just create a custom validator.

[code]

See docs for [custom validators](http://offirgolan.github.io/ember-cp-validations/docs/classes/Custom.html) for more details.

[2016-03-03 22:25] riklaunim commented on #130
So if I move the validation on model then only validator('ds-error') will be needed or something more?

[2016-03-03 22:27] offirgolan commented on #130
Yup. If your validation is on a DS.Model object and you have correctly setup the DS.Errors stuff, then it should work seamlessly

[2016-03-03 22:28] riklaunim commented on #130
I have django-rest-framework-jsonapi backend and on .save().then(*, *) it returns the errors on fail and I used that then to set the errors on form manually.

[2016-03-03 22:30] offirgolan commented on #130
Are you using [DS.Errors](http://emberjs.com/api/data/classes/DS.Errors.html)?

[2016-03-03 22:32] riklaunim commented on #130
not in the manual implementation, but it seems to be there. Will try to clean that up tomorrow.

[2016-03-03 22:41] offirgolan commented on #128
Updated docs :smile_cat:

[2016-03-04 14:31] luisjuniorj opened #133 "Is there an addError?"
Hi, awesome addon, i am just wondering if it has any addError or something like, i try to login, and that password are incorrect, the place for error is there, i just need to add an error and show it. The same for email uniqueness, tks.

[2016-03-05 01:27] offirgolan commented on #133
The error message should can be accessed via

[code]

or inside your template via

[code]

[2016-03-05 01:30] #133 closed

[2016-03-07 12:20] riklaunim commented on #130
Had to modify the JSONAPIAdapter:
[code]
Status is 400 and not 422, and also DS.errorsHashToArray had to be used or InvalidError wasn't happy with the data format.

[2016-03-07 19:32] offirgolan commented on #130
Nice! Is the `DS Error` validator working then?

[2016-03-07 19:33] riklaunim commented on #130
Yes. It works now :)

[2016-03-07 19:35] offirgolan commented on #130
:smile_cat: fantastic!

[2016-03-07 19:35] #130 closed

[2016-03-07 19:36] offirgolan commented on #129
After discussion with Stef, it was concluded that most use cases can be solved with the current implementation. If a specific use case comes up, ill reopen this issue.

[2016-03-07 19:36] #129 closed

[2016-03-08 00:04] danshapir commented on #129
I'm really in favor of that feature! We need exactly that. All our validation rules are coming from the server.

To be honest, i don't mind having the valdations static on a model, but have the rules dynamic.

I'll elaborate:
Let's assume we have a mail property. That property has some regex validation on it. I want that regex to come from the server. How is that do able?

[2016-03-08 00:40] offirgolan commented on #129
You can simply do something like this:

[code]

[2016-03-08 06:16] danshapir commented on #129
You assume i have the regex on my model. My intentions are to have all the validations downloaded from the server kept in one place.

Like getting a huge json from the server with the validation rules and the equivalent i18n key, saving them in one place and then using your solution. Just without keeping the regex itself in the model

[2016-03-09 19:44] #131 closed

[2016-03-09 20:12] offirgolan commented on #131
Released in `v2.6.0`! Thanks for opening this issue :smile_cat:

[2016-03-10 10:48] donovan-graham commented on #131
Sweet!! Thank you for releasing it so quickly.

[2016-03-10 18:38] offirgolan commented on #131
Np!

[2016-03-10 20:47] danshapir commented on #129
@offirgolan ?

[2016-03-11 08:40] elatonsev opened #135 "Using with BufferedProxy"
I use BufferedProxy https://github.com/yapplabs/ember-buffered-proxy on my forms for buffering changes before save. It's common practice.

Model validation doesn't work in this way, because values don't set yet. How can I use it in this situation?

[2016-03-11 16:41] basz commented on #125
thank you for an awesome library!

how would I extend format as that doesn't seem to be exposed in the sources?

I noticed you do `import Format from './format';`, does that mean I should copy format.js to the folder where 'unique-email.js' lives?

[2016-03-11 18:40] offirgolan commented on #125
@basz you dont need to copy over the `format` validator. The addon imports all validators to `app/validators` at runtime which allows you to do what I mentioned above :smile:

[2016-03-11 22:33] danshapir commented on #129
So basically having the initializer doing an Ajax call, getting all the validations and then reopening all the models and injecting them in through the function validation syntax? Sounds good!

[2016-03-11 22:41] offirgolan commented on #129
Yeah that should work. Let me know if you run into any major hurtles.

[2016-03-11 22:43] offirgolan commented on #135
Cant you mixin the validations to the object proxy? Or is that what you were doing and it still didnt work?

[code]

[2016-03-12 21:14] basz commented on #125
thank you - I got it to work. For anyone this is my take on it

[code]

[2016-03-12 22:21] zion03 commented on #109
I have the same login form, but I trying perform logic like in demo [http://offirgolan.github.io/ember-cp-validations/](url) so in "signIn" action  I try to validate component using:

 but validate works only when I fill input.

Shortly - I want validate component onclick, not only on changing field

[2016-03-13 06:59] offirgolan commented on #125
:+1: thanks for sharing!

May I ask what this block is for?

[code]

[2016-03-13 09:04] basz commented on #125
That’s copied from 

node_modules/ember-cp-validations/app/validators/format.js

I did that because options.regex must be set at validate() time, but somehow the following did;t work

[code]

[2016-03-13 12:29] zion03 commented on #109
Solved, just need to set ` this.set('didValidate', true); ` after validation, it's not well documented.

[2016-03-13 21:08] offirgolan commented on #125
Hmmmmm, thats not good. Ill take a closer look at why that is when I have some time.

[2016-03-13 21:11] basz commented on #125
don't. I solved it. I think the problem arose from my initial call to return `this._super` with `...arguments` instead of the mutated options.

That snippet actually works now.

[2016-03-13 21:13] offirgolan commented on #125
Ah okay cool! Thanks for the update :smile_cat:

[2016-03-13 23:47] basz commented on #125
[code]

[2016-03-14 00:03] basz opened #136 "debounce validates validators"
Why does debounce validate validators until the debounce timeout is hit?

If i set debounce to 500 on a validator, the validators all are deemed valid until 500 milliseconds have passed.

That allows for the user to submit (via enter) a form after every keystroke for 500 milliseconds.

[2016-03-14 01:18] offirgolan commented on #136
Although isValid might be true, isTruelyValid will only be true once the
debounce promise has been resolved and the validator returns true.

On Sunday, March 13, 2016, Bas Kamer <notifications@github.com> wrote:

--
Thanks,
Offir Golan

[2016-03-14 04:34] offirgolan commented on #125
:+1: thank you :smile:

[2016-03-14 08:55] basz commented on #136
no isTruelyInvalid?

There is no easy way to use the the not operator in handlebars attributes, is there?

[2016-03-14 08:57] offirgolan commented on #136
https://www.npmjs.com/package/ember-truth-helpers 😁

On Monday, March 14, 2016, Bas Kamer <notifications@github.com> wrote:

--
Thanks,
Offir Golan

[2016-03-14 09:07] elatonsev commented on #135
Yes, I did that, but it can't extend BufferedProxy. It throws error "Uncaught TypeError: [ember-cp-validations] <(subclass of Ember.ObjectProxy):ember975> is missing a container or owner."

//factory.js line 496
// We must have an owner to be able to lookup our validators

[2016-03-14 09:27] basz commented on #136
thx! that's helpful

[2016-03-14 09:27] #136 closed

[2016-03-14 17:18] offirgolan commented on #135
(via README)

To lookup validators, container access is required which can cause an issue with `Ember.Object` creation if the object is statically imported. The current fix for this is as follows.

[code]

**Ember < 2.3.0-beta.1**

[code]

**Ember >= 2.3.0-beta.2**

[code]

[2016-03-14 17:36] danielspaniel opened #137 "Deprecation warning: moment construction falls back to js Date"
I've just stared using cp-validations, and things are looking good.
 Except for this issue for using date validator ..
  I reckon that the latest moment js  has deprecated the use of moment(random date string)
  because when I use the date validator with before: 'now' or after: '2/2/2015' or whatever .. then I get these deprecation warnings from the base date validator class.

[code]

Is this alre

[2016-03-14 17:40] offirgolan commented on #137
A PR is always welcome! If not, I can always take a crack at it when I have some time :smile:

[2016-03-14 17:45] danielspaniel commented on #137
fair enough mate. If I go for it will let you know, so we don't duplicate work.

[2016-03-14 17:48] offirgolan commented on #137
:+1: Thanks @danielspaniel

[2016-03-14 17:58] danielspaniel opened #138 "question about date validator"
Is there a way to do a date validation like
   this date should be 3 months ( or whatever ) before this other date?
 In my case I have paidToDate and paidFromDate.
   I want paidFromDate to be less than 3 months before paidToDate. The diff not so important, I just curious how to achieve this kind of custom date thing where one date depends on another and I need to calculate a spread.

[code]

The

[2016-03-14 18:05] luxferresum opened #139 "There should be a way to recompute the messages"
Hello

At the moment its no good way to recompute the messages, for example when the language changes. There should be a way to do this.

At the moment I return a JSON string from `getMessageFor` and parse this later from a helper, but this is ugly as hell. There must be a better way.

[2016-03-14 19:08] offirgolan commented on #138
Hmmmm I dont know why that's not working for you because that is supported ([see here](https://github.com/offirgolan/ember-cp-validations/blob/master/tests/dummy/app/models/user-detail.js#L30-L44)).

[2016-03-14 22:11] danielspaniel commented on #138
Yikes .. I see my mistake ... your example showed me what I have to do:
[code]
I forgot to return a string with the format method.  Thanks for the hint :)

[2016-03-14 22:11] #138 closed

[2016-03-15 04:53] offirgolan commented on #137
Resolved with #140 (Thanks again!)

[2016-03-15 04:53] #137 closed

[2016-03-15 09:53] luxferresum opened #141 "format validator type `phone` does not recognize international numbers"
Actually (almost) everything starting with a '+' and then just digits is a valid number.
This for example should definitly be a valid number: `+41123456789`.

[2016-03-15 15:04] elatonsev commented on #135
Sorry about that, I didn't read it carefully.

Now it looks like question for guys from BufferedProxy, but maybe you can answer on it for me.

It works well with normal ObjectProxy
`let buffer = Ember.ObjectProxy.extend(Validations);`

but didn't with BufferedProxy
`let buffer = BufferedProxy.extend(Validations);`

It crashed with error "Uncaught TypeError: Cannot convert undefined or null to obje

[2016-03-15 17:28] offirgolan commented on #141
Thanks for opening this issue! Ill resolve this once I have some time but a PR is always welcome!

[2016-03-15 17:31] offirgolan commented on #139
If you are using ember-i18n-cp-validations or any other i18n service you can do something like this

[code]

[2016-03-15 17:35] offirgolan commented on #135
@elatonsev I would open this issue on `ember-buffered0proxy` and see if they can resolve this on their end.

[2016-03-15 17:41] luxferresum commented on #141
Actually phone number validation is extremely hard!
a simple RegExp like `^\+{0,1}[0-9, ]*$` is the only thing that works in all cases. Maybe we could add additional tests for some country codes (like `+1`/NANP) but then we need a configuration for the default country code.

Another idea could be to move the Validator to the addon namespace and just import it from the app namespace. Then a User co

[2016-03-15 17:42] richmolj opened #142 "Empty hasMany validations"
Many forms will have a list of entries. Every time you add an entry, a new blank field is added.

Think of a `Product` that has a list of `Tags` - every time you add a tag, the form gives you another blank section so you can keep adding tags. Something like:

<img width="411" alt="screen shot 2016-03-15 at 11 45 55 am" src="https://cloud.githubusercontent.com/assets/55264/13787369/11055114-eab2-11

[2016-03-15 17:48] danshapir commented on #139
That sounds like a valid solution. It's very manual though. A global 'recalculate messages' event would be better. And that event can be triggered as a service. This will allow a better integration with other things as well.

[2016-03-15 20:03] offirgolan commented on #139
If you really want to force trigger the CPs, you can do the following

[code]

But that is not really recommended. I dont think that injecting your models is really a manual process. You can always create an initializer that reopens your model and injects your service for you.

[2016-03-15 20:09] offirgolan commented on #141
I dont think that is really necessary. You can always declare your own regex via

[code]

All validators are imported into the app/validators folder so you are welcome to write your own by extending the one already present. For example see #125

[2016-03-15 20:23] luxferresum commented on #139
Injecting the service is the easy part. But defining the `dependentKeys` on every validator seems undesirable. From API View it would be cool to define an depencencyKey on the `messages` object. But at least a way to globally define your `dependencyKey` seems necessary. Otherwise I would use my custom util instead of `validator()` that adds the `dependencyKey and internally calls `validator()`.

[2016-03-15 20:29] luxferresum commented on #141
But you can't override an existing validator.

What I want to do is this:

    import Format from 'ember-cp-validations/validatos/format';
    export Format.extend({
    ...
    })

For this you would need to place the default validators under `addon/validators/format` and place a reexport file under `app/validators/format`:

    import Format from 'ember-cp-validations/validators/format';
    exp

[2016-03-15 21:07] danshapir commented on #139
I agree. What util are you talking about?

Again, I think that having a validation service that has an end point that can be called, and that end point will trigger revalidation of all validators seems like the best way.

[2016-03-15 22:02] luxferresum commented on #139
@danshapir I would write something like this:

    //app/utils/validation.js
    import { validator as origValidator, buildValidations} from 'ember-cp-validations';

    export function validation(name, options) {
      options.dependentKeys = options.dependentKeys || [];
      options.dependentKeys.push('i18n.locale');
      return origValidator(name, options);
    }

    export buildValidations;

[2016-03-15 23:56] offirgolan commented on #141
I dont think that's really needed. There should be nothing wrong with creating your own Format validator. You can just name it `phone` in `app/validators/phone` and write custom logic to meet your needs.

With that, you can also return custom messages via `this.createMessage` (see internal code for format validator).

[2016-03-15 23:59] offirgolan commented on #139
Maybe when I have some time, Ill create a feature which allows you to define global props

[code]

But right now you can also declare default options per attribute. See [Default Options docs](http://offirgolan.github.io/ember-cp-validations/docs/modules/Advanced%20Usage.html)

[2016-03-16 00:10] offirgolan commented on #142
When the user initially selects `+ Friend` you can choose to show the validation error if `friend.validations.isInvalid` && `friend.validations.isDirty`. You can check out the [demo app example code](https://github.com/offirgolan/ember-cp-validations/blob/master/tests/dummy/app/components/validated-input.js).

[2016-03-16 01:13] richmolj commented on #142
Yes, but that's not the issue. The issue is the form will never submit
because validations will always fail (since there will always be an empty
'Friend'.)

On Tuesday, March 15, 2016, Offir Golan <notifications@github.com> wrote:

[2016-03-16 04:56] offirgolan commented on #142
Would it be possible to bind the new friend field to an external object (not inside the validated `friends` model array) then on tab out or submit you can push it to the friends object if it's valid? I dont really know that it makes much sense to place an object that will always be invalid inside a validated model array.

[2016-03-16 05:00] offirgolan commented on #125
Im assuming this issue to be resolved so im gonna go ahead and close it. Feel free to reopen if you need more help on the matter.

[2016-03-16 05:00] #125 closed

[2016-03-16 13:55] richmolj commented on #142
Part of the problem there is we want to skip validation on when it's totally blank. So consider the `Friend` has  `firstName` and `lastName`. If the user has typed in `firstName`, we *do* want to run validations. In addition, I believe this would allow the form to submit, but the form would (incorrectly) show an error while submitting. This is because the `hasMany` validation would pass, but the `

[2016-03-16 17:46] offirgolan commented on #142
Ah okay I see what you mean. I believe this is already supported

[code]

Im currently working on global options that will help you out in this case

[code]

That will disable all validations if firstName and lastName are both empty.

[2016-03-16 17:54] richmolj commented on #142
Ooh yes! Not sure how I missed this when I read through the docs. Exactly what I needed, thanks! :+1:

[2016-03-16 17:54] #142 closed

[2016-03-16 17:55] offirgolan commented on #142
No problem! Sorry it took my so long to come to that solution!

[2016-03-17 10:41] basz opened #144 "ember-bootstrap"
Hi

Would you happen to know a better way to wire up this component with ember-bootstrap?

ember-bootstrap has support for ember-validations and looks at the model.errors.myProperty array, so what I no do in my model class is something like this;

This and some accessing some protected properties of an bootstrap component works, but feels really hacky.

[code]

[2016-03-18 02:15] snewcomer opened #145 "Leaky State in Tests"
So I am doing something like below where on `save` is the only time I want to display the error message, but in my tests (multiple acceptance and integration), this boolean (isValid) is leaking state to other tests.  If instead put the validation on the model and access it via `model.validations.attrs.....`, I don't get leaky state.  Is this the expected behavior with the validation mixin?

//Comp

[2016-03-18 03:46] offirgolan commented on #145
What version of ember and ember-cp-validations are you on?

[2016-03-18 08:27] offirgolan commented on #144
Here you go:

https://github.com/offirgolan/ember-bootstrap-cp-validations

I cooked this up kinda quickly so if you can test it out in your app and give me some feedback that would be great. Just add the following to you package.json since I didnt release it to npm yet.

`"ember-bootstrap-cp-validations": "offirgolan/ember-bootstrap-cp-validations"`

[2016-03-18 09:15] #135 closed

[2016-03-18 09:50] basz commented on #144
wauw, thanks! Seems to work nicely...

[2016-03-18 14:27] snewcomer commented on #145
Ember: 2.3.1
Ember-CP-Validations: 2.6.0

[2016-03-18 18:37] offirgolan commented on #144
For any ember-bootstrap issue please create an issue on offirgolan/ember-bootstrap-cp-validations

[2016-03-18 18:37] #144 closed

[2016-03-19 19:30] pdud commented on #145
I believe I'm able to reproduce the same issue. I believe it is only when using nested validations.

Here it is in a new ember-cli app.
- the integration tests always pass if you run the individual file
- the integration tests incosistently fail if you run them all
- the aliased test never fails only the nested ones

https://github.com/pdud/validations/commit/664a69f936877de720fdff25f730f433b5d863

[2016-03-19 22:49] offirgolan commented on #145
Thanks for the demo app @pdud! Ill take a look at this as soon as I can.

[2016-03-24 10:48] dmagunov opened #148 "How to reset validation state?"
Hello,

I'm using cp-validations to validate Objects created from ember data model in controller

`
_initialize(model){
    let Obj = Ember.Object.extend(model,Validations);
    this.set('draftModel',Obj.create( getOwner(this).ownerInjection()));
}
`
I've manually call this method on route transition and problem that validation state not reset after I reenter this route (and recall this method in

[2016-03-24 11:15] dmagunov commented on #148
Sorry, found the problem

[2016-03-24 11:15] #148 closed

[2016-03-24 21:48] luxferresum commented on #141
It seems like international phone number validation is not intended to be part of this addon at the moment so I close this issue.

[2016-03-24 21:48] #141 closed

[2016-03-26 21:47] jasonmit commented on #139
Is this a real-world use-case?  You usually need to reload models, side-load new translations, perhaps load different set of templates, to recreate a full localized app state.  At that point, why not just tear the application down and reload it?

[2016-03-27 23:53] snewcomer opened #149 "Asking for `validations` triggers save in Mixin"
[code]

[code]

Is this the desired behavior?

[2016-03-28 00:10] snewcomer opened #150 "How to validate only on Save"
Looking for simpler way to display a message in a template (defined on a validator in the model) only when I click save (and not when the input is cleared out).  Right now, I have a `saved` property on the model and when I hit save, it flips the value and then triggers another property defined on the model called `nameErrorMsg` which then displays the validators msg in the template.

Haven't seen

[2016-03-28 18:22] jwright04 opened #151 "Issue with Validating inside of components"
I'm certain this is something I'm just doing wrong, but I'm trying to figure out how I can validate inside of a nested component (if you have an example of how nested components are beling validated that would help tremendously).

Currently when validating a component, i do something like:

[code]

The above block ^ is currently validating with no problems.  When I do something like what i have be

[2016-03-28 23:12] offirgolan commented on #150
Do you want to only display the messages on save or only run validations on save?

[2016-03-28 23:13] offirgolan commented on #149
Any chance you can reproduce this in a demo repo so I can debug this?

[2016-03-28 23:37] offirgolan commented on #145
cc @stefanpenner

[2016-03-28 23:43] jwright04 commented on #151
I'm going to close this out, I ended up having to pass a custom validation check into the actual component to make this work.  huge oversight on my part.

[2016-03-28 23:43] #151 closed

[2016-03-28 23:45] offirgolan commented on #151
:+1: Glad you were able to fix it! Thanks for updating the issue :smile:

[2016-03-28 23:53] dant00ine opened #153 "What is causing "model.validate is not a function" ?"
Hey guys,

I am trying to have the validation action fire from a route with the following code:

[code]

But I am getting this error:

`Uncaught TypeError: model.validate is not a function`

I am defining validations in the model, but am wondering if maybe I didn't set up the addon correctly, or if there is some config work still needing to be done.

Edit: here's my model

[code]

[2016-03-29 00:00] blimmer commented on #153
Can we see your model?

[2016-03-29 02:14] dant00ine commented on #153
I think the problem is that I bring in the model at the route level but the child component (where the input exists) doesn't have access to that model

[2016-03-29 02:42] dant00ine commented on #153
Confirmed. This was happening because I forgot to pass the model to a child component. Thanks for the help Blimmer.

[2016-03-29 04:41] dant00ine commented on #153
so in the submit action of the Route, after setting

`let model = this.get('model')`

if I console log model I see:

[code]

Probably a pretty stupid mistake. Am I missing something with setting the model? Thanks again >.>

[2016-03-29 04:58] stefanpenner commented on #145
I wont be able to take a look till after ember conf, feel free to remind me later this week :)

[2016-03-29 05:17] dant00ine commented on #153
Fixed by using `this.currentModel`
Really sorry to bother you twice guys. I'm done now.
Thanks!

[2016-03-29 05:17] #153 closed

[2016-03-29 05:37] snewcomer commented on #150
That's a great point.  That is a difference that I didn't think of.  Firing only on validation (by calling a hook) seems like a great option.  I think validate sync is what I want but the second I cleared out an input field, the validation msgs appear, which makes sense based on how I implemented it (before hitting save).  Is there a library specific way to fire validations and only display a msg

[2016-03-29 16:27] snewcomer commented on #149
I'll put it together and see if I can get to the root of it and throw it up here!

[2016-03-29 16:56] offirgolan commented on #150
You can disable a validation by using the `disabled` option as well as using the `dependentKeys` to help you toggle the disabled state. In terms of displaying your error messages, you should look at the `validated-input` component in the demo app in this repo. I think what you are looking for is the use of the `hasValidated` state that the demo app uses in the main controller.

[2016-03-29 20:25] snewcomer commented on #150
Perfect, that will work!  Any use for a `how to` in the docs?  I can throw up an example here when I get it done.

[2016-03-29 20:29] offirgolan commented on #150
There are docs for the [disabled](http://offirgolan.github.io/ember-cp-validations/docs/modules/Validators.html#disabled) feature but as for the `hasValidated` state, that is something you currently have to keep the state for yourself. (cc @jasonmit)

[2016-03-29 21:00] jasonmit commented on #150
(cross referencing with #113)

[2016-03-29 21:35] blimmer commented on #153
No problem - glad you got it figured out!

[2016-03-30 20:19] offirgolan commented on #150
Im gonna go ahead and close this issue. Feel free to reopen.

[2016-03-30 20:19] #150 closed

[2016-03-30 20:51] snewcomer commented on #149
Looks like this is the line.

https://github.com/offirgolan/ember-cp-validations/blob/2154d9276c68811af439b63a588ef21095f820a7/addon/validations/factory.js#L102

Here was the test I wrote.  You can see the console logs.
https://github.com/snewcomer/ember-cp-validations/blob/master/tests/acceptance/dummy-index-test.js#L83

So this._super() is calling the _validationsClass computed on the mixin?

[2016-04-01 21:23] offirgolan commented on #149
Thanks for setting up a reproduction of the issue. This is definitely not the desired behavior and it's pretty weird tbh. Might need some time to debug this one.

[2016-04-01 22:08] offirgolan commented on #149
@snewcomer I dumbed this issue down and found it to be an issue with ember itself. I dont really think that this is actually the desired behavior so I went ahead and opened an issue.

emberjs/ember.js#13230

[2016-04-04 11:49] SmaranNA commented on #145
Any resolution for this issue yet?

[2016-04-05 15:26] Jordan4jc opened #154 "Don't validate until a button is clicked"
What would be the process to have this happen? I have in my template (this is on a component)

    <div class="input half{{if (v-get this 'purchaserFirstName' 'isInvalid') ' error'}}">
        {{input ...}}
    </div>

And this field is a basic presence validator. But I don't want this error class to be added until after I click a button, and then from there the computed properties can take over s

[2016-04-05 15:29] stefanpenner commented on #154
The validations are live currently and its by design, for now you want to buffer them I would suggest doing so by adding a level of indirection at the component or if just using the template using a helper such `(and isSaving (v-get ....))`

[2016-04-05 15:39] Jordan4jc commented on #154
Okay I see now, I was also trying to combine it with disabled but it seemed when I updated the property to true it didn't turn the validation back on, not sure if that's intended behavior or if I was using it wrong.

[2016-04-05 15:39] #154 closed

[2016-04-07 15:16] gzurbach opened #155 "Question: correct way of checking for relationships?"
First off, great library! I am switching a pretty big app from `ember-validations` (deprecated) to `ember-cp-validations` and it's been great so far!

I read the docs a couple times but I'm still confused on what is the correct way to check for the presence of a relationship.

[code]
I currently validate this way and it works:
[code]
My understanding is that I could leverage the `dependent` valida

[2016-04-07 18:35] offirgolan commented on #155
Hi there! Im very happy to hear you are making the switch! I think what you are looking for (in this case) is the `belongs-to` validator. You can do something like this:

[code]

Then you can access `country` validations via

`address.get('validations.attrs.country.isValid')`

and to grab specific validations off of `country`

`address.get('country').get('validations.attrs.name.isValid')`

[2016-04-07 20:47] epyx25 opened #156 "validate ember-power-select"
First of all, great library!

I have thid models:

**content**
[code]

**action**
[code]

I have a **form-group** component, which wraps the different form controls. Its job to handle the validations.

**form-group**
[code]

in a template:
[code]
Now if I log `validation.isValid` in `form-group.hbs` for a fresh created action model, it will give `false` in case of `action.name` but `true` for `act

[2016-04-07 20:56] offirgolan commented on #156
I see you are using ember-bootstrap. I think you might also want yo use [ember-bootstrap-cp-validations](https://github.com/offirgolan/ember-bootstrap-cp-validations)

As for your model validations, The validation for the `content` model will always be true since im assuming content.name will always have a value (im assuming this since you are using a select component).

If you want to validate th

[2016-04-07 21:11] epyx25 commented on #156
Thanks for the quick answer, it worked!
I will take a look at **ember-bootstrap-cp-validations**.

[2016-04-07 21:11] #156 closed

[2016-04-07 21:28] epyx25 commented on #156
@offirgolan one more question: what does `validation.isDirty` represent?
https://github.com/offirgolan/ember-cp-validations/blob/master/tests/dummy/app/components/validated-input.js#L37-L38

In a new action model name.isDirty is false, but content.isDirty is true.

[2016-04-07 21:29] offirgolan commented on #156
http://offirgolan.github.io/ember-cp-validations/docs/classes/ResultCollection.html#property_isDirty

[2016-04-08 12:37] GCorbel opened #157 "Bind with DS.error in the two ways"
Hi,

When I have a model with the DS-error validator and I receive an error from the server, for example, `$E.get('validations.errors')` gives errors which is correct. But when I pass validations, `$E.get('errors.name')` does not have errors from ember-cp-validations.

I think it can be useful to have kind of two way bindings. It can be useful for compatibility issues line [like this one](https://

[2016-04-08 18:41] offirgolan commented on #145
Sorry everyone! Been super busy the last two weeks. Ill probably get some time to work on this issue next week.

[2016-04-08 18:56] epyx25 opened #158 "Validate only when a property is true"
I have the following model:

[code]

I want validate `password` only if `shouldSerializePassword` is true.

[2016-04-08 20:57] offirgolan commented on #158
I have the following model:

[code]

[2016-04-08 22:25] epyx25 commented on #158
@offirgolan thanks!

[2016-04-08 22:25] #158 closed

[2016-04-09 00:15] offirgolan commented on #158
Np! :D

Thanks,
Offir Golan

On Fri, Apr 8, 2016 at 3:25 PM, epyx25 <notifications@github.com> wrote:

[2016-04-09 16:24] GCorbel commented on #157
ping @offirgolan . I'm ready to contribute but I want to know if you find it useful. Thanks.

[2016-04-09 18:27] offirgolan commented on #157
When I first wrote up this library, I had [support for this](https://github.com/offirgolan/ember-cp-validations/blob/75c1d4fbfdb70df70f34556a7e747750838e35a6/addon/utils/validations-factory.js#L158-L164) but it was removed due to a bug.

One thing I can recommend, is creating a 3rd party addon for your form library that overwrites that init method to bind to `validations.attrs.${property}.errors`.

[2016-04-09 19:45] GCorbel commented on #157
I did this and it seems to work :

[code]

Let me know what you think. I can do a third party addon as you suggested but I think it can be a useful mixin in ember-cp-validations.

[2016-04-09 20:25] gzurbach commented on #155
Appreciate the help, that's what I needed. Thanks for your quick answer!

[2016-04-09 20:25] #155 closed

[2016-04-09 20:29] offirgolan commented on #155
Np! 😸

On Saturday, April 9, 2016, Guillaume Zurbach <notifications@github.com>
wrote:

--
Thanks,
Offir Golan

[2016-04-10 20:11] gustaff-weldon opened #160 "`alias` validator"
Recently, I found myself needing an `alias` validator. It copies first error message from an `aliased` field to another it is bound to (similar to how `ds-error` copies error from `model.errors.${attr}`).

Internally it's very much like  `dependent` validator because it depends on  `validations.attrs.${alias}.isTruelyValid`, but unlike `dependent` it copies error message from
`validations.attrs.${

[2016-04-10 20:28] gustaff-weldon commented on #160
Solution attempts:

1) FAILED: Establishing dependency on `validations.attrs.${alias}.isTruelyValid` in `processOptions`
I have tried to add in `processOptions` a custom dependent key for aliased validations like so:

[code]

That does not work since, the validation `dependentKeys` are evaluated before validator constructor is called (see https://github.com/offirgolan/ember-cp-validations/blob/v2.

[2016-04-10 20:43] gustaff-weldon commented on #160
On a final note. I was wondering about a solution where instead calculating `dependentKeys` statically, those could be extracted from instantiated validators processed options.

Instead:
[code]
do sth like:
[code]
With that being possible, all sort of dependent validators could be written outside of `cp-validations`
and the custom validators handling code could be moved to respective validators `p

[2016-04-11 03:40] offirgolan commented on #160
Thanks for opening up this request @gustaff-weldon :smile_cat:

@stefanpenner @rwjblue @blimmer what do you guys think of this use-case? I think it might be a nice addition. Either create a whole new alias validator or add an option on `dependent` validator to do this.

The reason we dont already do this is because we have no access to the owner/container outside of the CP.

[2016-04-12 14:42] blimmer commented on #160
I think this is a totally valid use case and something I've run into before. I'll use ember moment to create a computed property on the model, but serialize the real date or time to the server. My only concern is with returning the `firstObject` message. Why not return all the messages?

[2016-04-12 17:48] offirgolan commented on #160
@blimmer I agree. Ill see what I can do to make this happen :smile:

[2016-04-13 07:05] caalle opened #162 "Nested belongs-to validators gives error"
Hey,

I've got nested `belongs-to` validators and the relationship does not have to exist. Eg.

[code]

Creating a `foo` model and calling validate without adding `bar` and `baz` now triggers and error.

[code]

gives

[code]

I've traced it to the `belongs-to` validator and temporarily added a check for the model variable:

[code]
Do you have any input on how to solve this? Is there any other way

[2016-04-13 07:25] offirgolan commented on #162
Thanks for opening up this issue! The error makes sense, currently, its assumed that if you have validations for an object, then that object should exist. Ill write up a test for this and get a fix out when I get the chance. In the mean time, you can do something as such with the current public APIs

[code]

[2016-04-13 07:52] gustaff-weldon commented on #160
@blimmer My understanding was that up until now, validators were expected to return one validation value, I totally agree that full-fledged `alias` would copy all errors (type and message)

@offirgolan Thanks for taking your time to implement this!

[2016-04-13 08:16] caalle commented on #162
Thanks for the quick reply! Using `disabled` works like a charm.

[2016-04-14 16:55] aaronbhansen opened #165 "Allowing child validations to be specified with on or excludes"
We have a situation where we have a model with multiple has-many child relations we would like to validate on, but on specific pages, exclude a some of the child has-many validations.

The use case is, we are creating this parent model and all of the related child models through several pages in a wizard process. On the last page everything should be valid including the children, but as they are a

[2016-04-14 17:29] aaronbhansen opened #166 "Feature: Allowing attribute to be specified in options"
We ran into a situation where we would like the validator to be tied to a specific property on the model, but we need the value passed into the validator to be based on a different related property. I didn't see a way in the code that would allow today, so I wanted to throw the idea out there.

A example could be something like (they must make 3 selections)

[code]

This would allow us to group va

[2016-04-14 17:54] offirgolan commented on #165
I definitely understand the need for this use case but the current implementation and how the CPs are structured, this wouldn't be a simple task. Once I have some time, Ill explore this and see what I can do but as of right now, your best bet is to use `disabled`, `dependentKeys` and custom validators.

[2016-04-14 17:56] aaronbhansen commented on #165
Sounds good. Looking through the code I couldn't see an easy way to implement it either. Be great to have, in the meantime I'll work around it.

[2016-04-14 17:59] offirgolan commented on #166
In the example above you can just do

[code]

But I think what your'e looking for is #161 :smile:

[2016-04-14 18:00] #145 closed

[2016-04-14 18:07] aaronbhansen commented on #166
Yeah my example wasn't perfect, but easiest to explain :) I saw the alias ticket, but it felt different. Alias felt more of pulling in errors from a different property all together. In my example I want to have a different validation value (attribute) passed in to validate() thats maybe a computed property.  That helps keep all validates for a property under a single attribute. Alias would probabl

[2016-04-14 18:10] aaronbhansen commented on #166
I was also hoping this would be much easier to implement. Possibly change this [line](https://github.com/offirgolan/ember-cp-validations/blob/master/addon/validations/factory.js#L322) just to
[code]

[2016-04-14 18:12] offirgolan commented on #166
Ah I see what you mean. Ill explore this more :smile_cat:

[2016-04-14 21:27] #162 closed

[2016-04-14 21:46] offirgolan commented on #162
Fixed with `v2.7.2` :smile_cat:

[2016-04-14 21:47] offirgolan commented on #145
Sorry for the delay everyone!

Fixed with `v2.7.2` :smile_cat:

[2016-04-15 10:00] caalle commented on #162
That was fast. Thanks for a great addon!

[2016-04-15 16:27] samchrisinger opened #169 "Trying to understand why validated-input is not part of the core lib"
First, thanks for the nice library. The API is overall very friendly.

I did get pretty hung up trying to figure out how to get messages back from the validation. Seems to me the common use case is probably form validation, and it was a bit frustrating that there was no obvious example of this in the docs (I later discovered the demo, which was another potential hangup-- maybe the link to view sou

[2016-04-15 17:36] samchrisinger commented on #169
Should have read #23, notes on docs improvements may still be relevant.

[2016-04-15 17:36] #169 closed

[2016-04-16 04:50] #149 closed

[2016-04-17 01:51] blimmer commented on #165
I definitely can see this as a very valid use case, but understand that it's difficult to get implemented.

[2016-04-17 03:08] offirgolan commented on #139
Im gonna go ahead and close this issue since global option support has been released in `v2.7.0`

[2016-04-17 03:08] #139 closed

[2016-04-17 10:10] danshapir commented on #139
@offirgolan How can I use the global option? :)

[2016-04-17 11:05] offirgolan commented on #139
You would have to inject the service into your model.

[code]

[2016-04-19 15:06] Jordan4jc opened #172 "validate on a generic property"
Is there a way I can have a validator validate on a generic property being true or false?

I have a `ccNumber` validation that should be present and also needs to be a valid credit card number. To determine that, I'm using Stripe's jQuery payments plugin that will format an input to accept a credit card number and I can also validate that the number meets their built in credit card regex. When I t

[2016-04-20 00:18] offirgolan commented on #172
As of right now, until #171 gets merged, your best solution would be to create a custom validator.

[code]

For more info, check out the [custom validator docs](http://offirgolan.github.io/ember-cp-validations/docs/classes/Custom.html)

[2016-04-25 00:33] kernel-io commented on #150
I have been having issue using the disabled option as a part of the global options, for the validations to actually disable I need to add disabled to each validation. any pointers?

[2016-04-25 01:08] offirgolan commented on #150
Any chance you can include a snippet of your model and validations?

On Sunday, April 24, 2016, kernel-io <notifications@github.com> wrote:

--
Thanks,
Offir Golan

[2016-04-25 01:57] kernel-io commented on #150
my model is just a POJO.

Here is the complete code...

[code]

I'm new to using the bufferedproxy, so probably using that wrong 🚽

[2016-04-25 02:19] offirgolan commented on #150
Have you tried the global `disabled` option without buffered proxy?

[2016-04-25 02:22] offirgolan commented on #172
Im gonna go ahead and close this issue. Feel free to reopen if you need any more help 😸

[2016-04-25 02:22] #172 closed

[2016-04-25 05:05] kernel-io commented on #150
I tried it with buffered proxy, but not without yet. I will try and let you know :)

[2016-04-25 11:31] musaffa opened #175 "Expose a DS.Errors compatible API"
Currently `this.get(user, 'validations.errors')` returns an array of error objects. But calling errors with [DS.Errors](http://emberjs.com/api/data/classes/DS.Errors.html) returns an Ember Object.

[code]

In this implementation, we can call `username` attribute on the object returned by `errors`. The most of the form addons conforms to this API. It would be nice if `ember-cp-validations` follows

[2016-04-25 18:18] #166 closed

[2016-04-25 19:38] offirgolan commented on #175
Thanks for opening up this issue. You can access specific attribute validations via `model.get('validations.attrs.username.errors')`

or in your template via

[code]

[2016-04-26 16:31] acburdine commented on #113
I'll see what I can do sometime this week on this.

[2016-04-27 01:16] robbyoconnor commented on #119
Hi,

I'd like to add you to my professional network on LinkedIn.

- Robert

Confirm that you know Robert: https://www.linkedin.com/e/v2?e=0-ini67ojs-nd&t=ssuw&tracking=eml-guest-invite-cta&ek=invite_guest&sharedKey=2rvcOple&invitationId=6130897019268579328

You received an invitation to connect. LinkedIn will use your email address to make suggestions to our members in features like People You May

[2016-04-27 08:52] offirgolan commented on #150
@kernel-io ill take a look at this some time this week.

[2016-04-28 02:31] musaffa commented on #175
@offirgolan Unfortunately almost all the form addons, for example ember-form-for (see [implemenation](https://github.com/martndemus/ember-form-for/blob/master/addon/templates/components/form-field.hbs#L8)), ember-simple-form (see [implementation](https://github.com/DockYard/ember-easy-form/blob/1-0-stable/addon/components/internal-input-for.js#L96)), implements DS.Errors like API. If ember-cp-vali

[2016-04-28 04:40] offirgolan commented on #175
I understand the use-case for this, but as of right now, I dont see the way the `validations` object is structured to change. If we were to have an `errors` object on the model, it will not only overwrite ember-data DS.Error implementation, but will have residual effects for any platform that is dependent on it. The validation object needs to be its own entity to not clash with any existing implem

[2016-04-28 04:49] offirgolan commented on #157
@GCorbel sorry for such a delayed response! I definitely think this would be a really great feature to have. It would even be better if a user is able to pick which attributes they want to exclude/include as well.

In terms of implementation, I would have to think this through a little more. I also want to make sure we dont run into an infinite loop situation with users using the `validator('ds-er

[2016-04-28 05:23] offirgolan commented on #160
Just had a shower thought...

@gustaff-weldon @blimmer is this validator needed anymore after the implementation of the `value` option? (see #171)

[2016-04-28 11:07] musaffa commented on #175
Another option can be a DS.Errors like errors object under `validations`namespace.

Not only polluting errors object of the model is a bad idea, mutating model instance in the form itself is a bad idea. Model instances should be immutable.

[2016-04-28 14:04] jnfingerle opened #178 "Allow messages.js to be places in the app/validators folder of an addon"
Hi,

we're using ember-cp-validations with custom validators and with our own messages for the bundled validators. After factoring this out to an addon, we still have to provide thoses messages in the app's validators directory. Ok, it's only an import, still it would be great if we could place it into the addons app/validators folder instead.

Cheers, jnfingerle

[2016-04-28 14:11] musaffa commented on #175
@offirgolan Off topic, is it possible to know whether an attribute has any validator?

[2016-04-28 20:37] IAmJulianAcosta opened #179 "belongs-to validator returns true"
Oversimplified example of the issue:

`models/user.js`
[code]

`components/component.js`
[code]

If my model doesn't have any relationship, why does it validates as true?

[2016-04-28 22:45] offirgolan commented on #179
It returns true because it has nothing to validate. I think what you're looking for is this:

[code]

[2016-04-28 22:47] offirgolan commented on #178
That should be possible, in your 3rd party addon that holds the `messages` files, put it in `app/validators/messages.js` and add the following to the `package.json`

[code]

[2016-04-28 22:50] offirgolan commented on #175
I feel like the easiest way to solve your problem is just to do the following in your model

[code]

If an attribute does not have any validators, then it will not be part of the `validations.attrs` object

[2016-04-28 23:17] jamiechong opened #180 "Misleading Documentation"
Just a heads from a user who has fresh eyes on this project:
I'm trying to get a feel for your addon and I see things in the documentation like:

`validator('no-whitespace-around')`

And I'm lead to believe that this validator is built-in, but after some searching I discover it's not. It might be worth changing this specific example to:

`validator('some-custom-validator')`

[2016-04-29 00:04] IAmJulianAcosta commented on #179
Does `belongs-to` validate if the relationship's model is valid too?

[2016-04-29 00:33] adityasingh-ruckus opened #181 "Working example with all the files?"
Hi,

I installed this addon in my project but it isn't working like it was shown in the demo.
I can't get my head around on what it is that I am missing, I would really appreciate if somebody can give a link to a small ember app where this is implemented with the source code.

Thanks,
Aditya Singh

[2016-04-29 05:39] musaffa commented on #175
:+1:

[2016-04-29 09:01] jnfingerle commented on #178
Works, thanks a lot.

[2016-04-29 09:01] #178 closed

[2016-04-29 17:54] offirgolan commented on #181
Hi there! Im sorry you are running into some issues! You can check out the full source for the demo app [here](https://github.com/offirgolan/ember-cp-validations/tree/master/tests/dummy/app). If you have more specific questions, feel free to ask here or open another issue.

[2016-04-29 17:55] offirgolan commented on #179
All belongs-to does is create a link from the relational models's validations to the current one.

[2016-04-29 18:13] IAmJulianAcosta commented on #179
Ohhh get it, thanks! Closing

[2016-04-29 18:13] #179 closed

[2016-04-29 21:39] adityasingh-ruckus commented on #181
Thank you so much. I am able to integrate it with my code now. :)

The only problem which I see is that I was thinking it will probably be a plug and play solution, like if I just want to validate a simple form, why do I need to have 3 models for it?

Thanks for your quick help.

[2016-04-30 09:11] musaffa commented on #175
Is it possible to check for the presence of any specific validator on an attribute. For example, I want to determine whether the field is required (to put a * in the label) dynamically based the presence of the `Presence` validator.

[2016-04-30 17:32] blimmer commented on #181
@adityasingh-ruckus it's hard to provide any feedback because we don't know what your situation looks like. Perhaps create some sample code or give us a more specific example?

[2016-04-30 17:35] blimmer commented on #180
Will you please put together a PR with the changes you're thinking? I agree that it can be confusing!

[2016-04-30 17:37] blimmer commented on #160
I think strictly speaking `value` can do everything `alias` does. The biggest advantage I see is that the `alias` validator automatically will setup invalidations for you.

[2016-05-01 20:20] IAmJulianAcosta commented on #179
@offirgolan does `model.get('validations.attrs.category.name.isValid')` should work?

[2016-05-01 21:25] offirgolan commented on #179
Nope that wouldnt work. You would need to do

`model.get('category.validations.attrs.name.isValid')`

[2016-05-02 01:26] #160 closed

[2016-05-02 03:08] IAmJulianAcosta commented on #179
I'm modifying your example, but I can't understand how `isDirty` works.

`model.get('validations.attrs.category.isValid')` returns true, but `model.get('validations.attrs.name.isValid')` returns false, in a new model. Why does this happen?

[2016-05-04 00:11] IAmJulianAcosta opened #183 "isDirty validation with non models"
Hi! I'm trying to use `isDirty` with a regular object, not a model, but I found this:

[code]

It validates if `model` is a `DS.model`. Is possible to use this function with a component or another class?

[2016-05-09 19:31] offirgolan commented on #183
`isDirty` works on all objects. The only difference is that for `ember-data` models it checks to see if you have a defaultValue set to use that as a reference. For regular `Ember.Object` instances, it assumes that any attribute that is not `null` or `undefined` is dirty.

[2016-05-09 23:01] dmagunov opened #186 "Check array length"
Hello,

I've created custom validator for checking length of the array:
[code]

But I have problem, that validator does not revalidate value after array has changed.

[2016-05-09 23:49] offirgolan commented on #186
Lets say that you named this validator `num-files`, so in your model, you will have something like this:

[code]

The key here is the `dependentKeys` option

[2016-05-10 15:21] dmagunov commented on #186
Thanks,

Work like a charm

[2016-05-10 15:22] #186 closed

[2016-05-11 10:40] adityasingh-ruckus commented on #181
Hi @blimmer ,
Sorry for the late response, I was on a vacation.
I have implemented it across my application. Its working fine, except for the fact that I can't find any support to integrate select and tag inputs.

Is there something which I can use?

Thanks

[2016-05-12 15:09] blimmer commented on #181
Feel free to fork and use this repo https://github.com/blimmer/ember-cli-example-app-for-github to commit an example.

[2016-05-12 19:56] nbehboudi opened #187 "Not validating the first time we load a model"
I have put all my validations on model. The very first time that I load the page some of the fields are empty but I dont want that page to load with the error message on that (currently as soon as I load the page it apears with error msg). Has anyone have any idea what I should do?

[2016-05-12 21:01] offirgolan commented on #187
You can take a look on how it's done in the demo app via the [validated-input component](https://github.com/offirgolan/ember-cp-validations/blob/master/tests/dummy/app/components/validated-input.js)

[2016-05-13 14:57] nbehboudi commented on #187
I have those already but still not sure how I can use it on template to hide it as the page loads and shows when some activity has been done on the page? (clicking the save button?)

[2016-05-13 19:16] Jordan4jc opened #188 "Presence only if another field is filled in"
I'm having a hard time figuring out how I would make this work.

I have a `name` property that I want to validate to be present and not blank, but I on'y require this property to be present and not blank if a `phone` property is present. If the `phone` property is not filled in then I want to allow the `name` property to be blank.

I see the dependent validation but I'm not sure if that can be com

[2016-05-13 21:35] offirgolan commented on #188
[code]

[2016-05-20 20:19] ewalti opened #190 "Deleting component with a validated-input inside it causes model to equal null in factory.js"
I ran in to an interesting problem yesterday trying to implement `ember-cp-validations` and the `validated-input` from the dummy app.

My scenario:

I have a model that is being passed down through a few levels of components. The component in question has a `validated-input` inside it, ie:

[code]

and

[code]

I'm setting up the validations on the `some-component.js` via:

[code]

This works perf

[2016-05-20 21:57] offirgolan commented on #190
Thanks for opening up this issue and for doing some debugging to help find the main cause of the problem!  I went ahead and added a quick fix for it with the latest release. If you upgrade to `2.9.0`, that should solve your issue. Im gonna go ahead and close this issue but if something similar pops up again, feel free to reopen! 😺

[2016-05-20 21:57] #190 closed

[2016-05-21 07:18] splattne opened #191 "Unit tests fail after upgrading to 2.9.0 ("validator not found")"
After upgrading from 2.8.0 to 2.9.0 all my model unit tests fail with the following error message:

The tests are simple "it exists" tests which Ember CLI generates automatically, like

    test('it exists', function(assert) {
      let model = this.subject();
      assert.ok(!!model);
    });

I reverted to 2.8.0 and the unit tests run successfully.

[2016-05-21 07:47] offirgolan commented on #191
Since the CPs now require container access, you will need to add all validators that your model depends on in your tests.

[code]

Thanks for catching + reporting this! Ill add it to the release notes

[2016-05-21 13:29] jelhan opened #192 "Easier translated custom error message"
Currently it's a mess to pass in a custom error message which is translated.

What have to be done to get it working with ember-i18n:

[code]

It would be nice if ember-cp-validations supports an easier way to achieve this. Might it be possible to support computed properties as `option.message` and look them up on `this.model`?

[2016-05-21 13:41] jelhan commented on #187
You should use a form component which shows validation errors only if there has been user interaction. There are several out in the wild. Have a look at https://emberobserver.com/categories/forms.

[2016-05-21 20:14] offirgolan commented on #192
Or you can use [one of these solutions](http://offirgolan.github.io/ember-cp-validations/docs/modules/I18n%20Solutions.html) 😉

[2016-05-21 20:17] offirgolan commented on #191
Im gonna go ahead and close this. Feel free to reopen if you face any similar issues 😺

[2016-05-21 20:17] #191 closed

[2016-05-22 21:19] jelhan commented on #192
You got me wrong. I use `ember-i18n-cp-validations` but it does not support translating custom error messages does it?

What I'm looking for would be something like `options.messageKey` (similar to `options.descriptionKey`). So to give it a more elaborated example:

[code]

[2016-05-22 22:14] offirgolan commented on #192
Ohhh okay I see what you mean (my bad 😝). I would open up this issue on ember-i18n-cp-validations. @jasonmit is usually very responsive and I done believe it should be very difficult to implement this feature on his end.

[2016-05-22 23:25] jasonmit commented on #192
:+1: I'm on board.  Opened an issue, feel free to add information -- will try and implement it soon.

[2016-05-23 05:54] #192 closed

[2016-05-23 18:03] offirgolan opened #193 "Cleanup Docs"
I believe its time for a demo page / docs overhaul. A lot of issues have been opening up because of either lack of documentation or it just being confusing. This issue has been opened to track what needs to be changes / added.

- [ ] General cleanup (spelling / grammar mistakes)
- [ ] Add some better examples
- [ ] Maybe restructure to make things easier to find
- [ ] New demo page with code snipp

[2016-05-23 20:11] jcowley opened #194 "Documentation out of date?"
Attempting to use ember-cp-validations for a user registration form and running into several issues. Maybe the docs are just out of date?

**First approach: Validations on the model**
Having the validations on the User model seems ideal so that they could be used in multiple places. However, the example(s) in [the docs](http://offirgolan.github.io/ember-cp-validations/docs/modules/Basic%20Usage.ht

[2016-05-25 19:57] jwright04 opened #195 "Deprecation warning:"
I see this was addressed here:
https://github.com/offirgolan/ember-cp-validations/pull/140

But when using the following
[code]
I'm seeing the Deprecation warning again:

Arguments: [object Object]

Anything I can do to resolve this warning?

[2016-05-25 20:34] offirgolan commented on #195
@jwright04 I have a PR pending with some date format issues but I wasnt able to recreate your issue. Im assuming this is because `M/D/YYY` is not a valid date format according to momentjs docs which is probably why its reverting back to js Date.

<img width="726" alt="screen shot 2016-05-25 at 1 33 20 pm" src="https://cloud.githubusercontent.com/assets/575938/15555371/51566eee-227d-11e6-9a92-78600

[2016-05-25 20:46] offirgolan commented on #188
Im gonna go ahead and close this issue. Feel free to reopen if the solution above did not solve your problem. 😺

[2016-05-25 20:48] offirgolan commented on #183
Im gonna go ahead and close this issue. Feel free to reopen if the solution above did not solve your problem. 😺

[2016-05-25 20:48] #183 closed

[2016-05-25 20:48] offirgolan commented on #181
Im gonna go ahead and close this issue. Feel free to reopen if the solution above did not solve your problem. 😺

[2016-05-25 20:48] #181 closed

[2016-05-26 00:04] #195 closed

[2016-05-27 10:10] maximdeveloper opened #197 "Validation on htmlbar does not work"
Hi,
-
My problem is that the validation on the htmlbar `new.hbs` does not work.
It is so confused for me, because I have a basic Ember project. I went through the [tutorial](https://github.com/offirgolan/ember-cp-validations) on github step by step and it just does not work.

What I've done is that:

- add `Validations` variable to `rental.js` model
- add helper `v-get` to `new.hbs`

I should be g

[2016-05-27 17:28] blimmer opened #198 "Ember.String.htmlSafe throws exception"
[code]

throws an exception.

At work ATM, I might have time to work on this later, but I pushed a [failing test](https://github.com/offirgolan/ember-cp-validations/commit/893df8481b9cd1802f058bb21a999bd7be5bc9c0) as an example.

[2016-05-28 10:50] jcbvm opened #199 "Shorthanded htmlbars helpers"
Currently you can get properties by:

[code]

I think it might be handy if some of these would have a shorthanded version like:

[code]

Not sure for which attributes there should be shorthands, but at least `isValid`, `isInvalid` and `message` I think.

[2016-05-28 15:45] blimmer commented on #199
I could definitely see value in this. @jcbvm can you put together a PR?

[2016-05-28 15:59] blimmer commented on #197
The problem in your example code is that your model hook is returning an array of models.

[code]

Therefore, there are no validations on the list of three rentals. Since it's a new rental, you'll probably want to change your model hook to create a new record:
[code]

I did this on your project and it worked as I expected. Also, as you get started with Ember, the Ember Community Slack help channel

[2016-05-28 15:59] #197 closed

[2016-05-28 20:36] offirgolan commented on #199
@jcbvm @blimmer the `v-get` helper is a htmlbars tree transform that takes input and converts it to the native ember `get` helper. Although this could be nice to have, IMHO, I dont really see the need for this since this is just sugar on top of sugar.

[2016-05-29 04:40] offirgolan commented on #198
👍 Ill take a look at this!

[2016-05-29 04:42] offirgolan commented on #187
@nbehboudi what you are looking for is not in the scope of this addon. There are many projects out there (as @jelhan noted) that can help you with what you are looking for. Im gonna go ahead and close this issue. Feel free to reopen if anything else comes up.

[2016-05-29 04:42] #187 closed

[2016-05-29 04:44] offirgolan commented on #194
@jcowley I'm sorry you've been running into some issues. Once I have some free time, Ill look into this and see whats going on there. Can I please ask what versions of ember-cp-validations and ember you are on?

[2016-05-30 07:19] lnaravindan opened #200 "Handling validations on blur (Need suggestion)"
Hi,

We have a form which is populated by a ember data model. We need the validations of the model to fire only when the form element goes out of focus.

Example,

Lets assume I have a user form, for user registration.

I need to check if the user name is unique, for which I have written a custom validator and used store to access records in the store/ fetch records from the server for checking.

[2016-05-30 15:50] #110 closed

[2016-05-30 16:10] blimmer commented on #200
To accomplish this, why not bind the `focusout` event on the input to actually set the value on the model and, thus, handle the validation? Something like this:

[code]

[code]

[2016-05-30 16:12] blimmer commented on #200
I'm going to close this issue since I believe the solution I provided will get the behavior you're seeking. If not, please feel free to reopen. Thanks!

[2016-05-30 16:12] #200 closed

[2016-05-30 17:39] blimmer commented on #193
Was thinking about the examples / demo page today, especially related to #200 . I think for the demo we should include a live-updating example (the validation is always there) and one where the validation appears on blur. Many people ask us about that and I think the answer to #200 is a good way to handle it and encourage use of one-way bindings / DDAU. what do you think @offirgolan ?

[2016-05-31 21:16] blimmer commented on #135
For others who run into this, I have a PR available https://github.com/yapplabs/ember-buffered-proxy/pull/25

[2016-06-01 16:24] offirgolan commented on #193
@blimmer that sounds pretty solid. I was thinking of restructuring the demo like I have it in `ember-light-table` which has examples and expandable code snippets as well.

[2016-06-02 11:04] Rio517 opened #205 "Previously presisted `isDeleted` child records cause parent to be invalid"
### tldr;

In the case where a parent `has-many` children, if deleting a previously persisted, invalid child record, the parent never seems to return to a valid state.

### Background
For example:

1. A Parent and two children (let's call them C1 and C2) are loaded from the data store
2. A field on C1 is made invalid
3. C1 is deleted in the client
4. Parent is now invalid and validations prevent i

[2016-06-02 17:33] offirgolan commented on #205
Have you tried unloading the record from the store after delete or just removing it from the hasMany array?

[code]

[2016-06-03 10:26] Rio517 commented on #205
While this workaround works for the validation state, it prevents persisting the delete record when saving the parent.

For example, in my case, I'm calling `deleteRecord` and only later calling `save` on the parent.  In that case, the chilren never get deleted on the server.

[2016-06-03 17:06] dfalling opened #206 "New has-many associations don't invalidate the parent"
My form allows creating new child objects.  These objects are initially blank and invalid, but this doesn't bubble up to the parent.

From the debugger:
[code]

Is there something I need to do to the parent to make it refresh after a new child is added?

Thanks!

[2016-06-03 17:23] offirgolan commented on #206
Are you using a `belongs-to` or `has-many` validator on the parent?

[2016-06-03 17:32] dfalling commented on #206
belongs-to:

[code]

[2016-06-03 17:34] offirgolan commented on #206
Can you add a snippet of both the parent and child model/validations?

[2016-06-03 17:38] offirgolan commented on #205
When you added the `disabled` option, did you also add `dependentKeys: ['isDeleted']`? Im assuming thats why disabled didnt get called

[2016-06-03 17:42] dfalling commented on #206
product-translation:
[code]

product:
[code]

I create new `product-translation`s like this:
[code]

[2016-06-03 17:45] offirgolan commented on #206
Are you adding the new product-translation to the hasMany array?

[code]

[2016-06-03 17:47] dfalling commented on #206
No.  If I hit `product.get('translations');` it's there.  Should I also push it to let ember-cp-validations know about it?

[2016-06-03 17:51] dfalling commented on #206
I tried that as well and didn't have any more luck:
[code]

[2016-06-03 17:55] offirgolan commented on #206
Okay weird. Let me play around with this I might know where this issue is coming from.

[2016-06-03 17:56] #198 closed

[2016-06-03 17:57] dfalling commented on #206
Great, thanks for the quick response!

[2016-06-03 19:03] dfalling commented on #206
My view was checking the wrong property (`model.validations.isValid` instead of `model.product.validations.isValid`) which was keeping the validation from ever firing.  Fixing that did get it to see the child with no other changes necessary.

I did run into another issue though, with an easy workaround: `name: undefined` is considered valid to the `length, { min: 1 }` rule.  I can fix this with `n

[2016-06-03 19:06] offirgolan commented on #206
Great! Glad you were able to fix it. I actually found some issues that need to be resolved so ill just add the length validator to my list. No need to create another issue.

[2016-06-03 19:06] #206 closed

[2016-06-03 19:08] dfalling commented on #206
Sounds good.  Thanks for your help!

[2016-06-05 23:24] jcowley commented on #194
Hi @offirgolan,

Thanks for following up. Would love to help contribute to the docs/code if we can figure out the issue.

I'm using ember-cp-validations 2.3.0 and ember 2.3.1.

Thanks!

[2016-06-05 23:42] offirgolan commented on #194
@jcowley nested key validations were introduced in `v2.6.0`. I would suggest to upgrade to the latest version of `ember-cp-validations`.

[2016-06-07 00:42] offirgolan commented on #199
Im gonna go ahead and close this issue. @jcbvm thank you for the suggestion, but unfortunately, the implementation to do something like that is not very simple and will require unnecessary code maintenance for a mere 5 character shortcut. Feel free to comment and/or reopen!

[2016-06-07 00:42] #199 closed

[2016-06-07 00:42] offirgolan commented on #205
@Rio517 did my pervious solution solve your issue?

[2016-06-07 10:18] Rio517 commented on #205
Hi @offirgolan !  Sorry, I missed your other comment. Github didn't notify me.  Anyway...

Just to be clear: the `disabled()` did get called prior to deleting the child record. I would see "false" being logged to console. After the child record was deleted, the `disabled()` was no longer called.

I'm not clear on how the `dependentKeys` should be passed in. I would have guessed I'd need to add thi

[2016-06-07 17:26] poteto opened #209 "[Feature] Expose validator functions as public API"
There is a use-case for being able to manually lookup the validation without having to use a CP. Other addons can integrate with this one to manually validate a value. As an example, https://github.com/poteto/ember-changeset is an addon that stores valid changes on a changeset before being set on the underlying model. Since no values are set on the model until the changeset is executed, `ember-cp-

[2016-06-07 17:26] offirgolan commented on #205
@Rio517 A validator excepts only 2 arguments, the type, and the options. To do what you are looking for, the validator will look like this

`validator('presence', { presence: true, dependentKeys: ['isDeleted'] })`

Or... you can place dependentKeys in the global options space as well.

[code]

[2016-06-08 10:31] Rio517 commented on #205
Prefect.  I didn't realize I could set global options like that.   All working now.  Thanks for all the help!

[2016-06-09 01:18] offirgolan commented on #205
Fantastic! 😺

[2016-06-09 01:18] #205 closed

[2016-06-09 03:36] v-shan commented on #113
Hi all! Any updates here? The `didValidate` property would be very useful for us. Right now to get that functionality, the options are:

- use `targetObject` to get the `didValidate` property (seems brittle) or
- pass the `didValidate` property in (seems unnecessary)

In both cases we have to pass `didValidate` or `targetObject` down a component chain if there are nested components, which is also

[2016-06-10 20:10] Jordan4jc commented on #188
Sorry I got taken away from getting this to work so wasn't able to test this code until now.

I'm trying to get something like the working where I have a service that has a `chosenCard` property on it,  and I only want to force a credit card field to validate when there is no card chosen from a list of available ones.

    validator('presence', {
        presence: true,
        dependentKeys: ['cr

[2016-06-10 20:43] offirgolan commented on #188
In your model you need to inject the `creditCards` service.

[code]

Then your validator's disabled function will look like this:

[code]

[2016-06-10 21:03] offirgolan commented on #194
@jcowley im gonna go ahead and close this issue. Feel free to reopen if you run into any similar problems.

[2016-06-10 21:03] #194 closed

[2016-06-10 21:04] offirgolan commented on #209
@poteto I'm gonna take a look into this early next week. If you dont hear from me, please shoot me a ping 😺

[2016-06-10 21:06] Jordan4jc commented on #188
I'm not adding these validations to a model though I'm adding them to a component, the `creditcards` service is injected on the component the validations are injected on

[2016-06-10 21:07] offirgolan commented on #188
@Jordan4jc the solution will be the same. In the `disabled` function, `this.get('model')` === component

[2016-06-10 21:19] Jordan4jc commented on #188
It doesn't seem to be working, I can log it but maybe I'm just getting confused how this is supposed to be done.

So this should disable if a card is chosen and it doesn't equal 'addCard', otherwise the format should validate the value.

I'm using the format validator with a regex btw not presence.

[code]

That's what I have tried, am I doing the conditionals wrong? When I change the `chosenCard`

[2016-06-10 21:20] Jordan4jc commented on #188
This doesn't seem to be working, here's what I'm trying

[code]

using `v-get` I can see it's always false even if I have a `choseCard` set and it's not `addCard`

[2016-06-13 13:39] Jordan4jc commented on #188
Took the `allowBlank` out and all is working.

[2016-06-13 17:09] offirgolan commented on #188
Awesome! Glad you were able to figure it out 😸

[2016-06-13 17:09] #188 closed

[2016-06-17 21:22] offirgolan commented on #209
Okay after a good amount of time thinking of the best possible way to do this, I have a solution.

[code]

In the context of this library, there is never a point where a boolean or string is returned, instead a [validation result collection](http://offirgolan.github.io/ember-cp-validations/docs/classes/ResultCollection.html) is returned. If the result collection is async, it will return a promise

[2016-06-21 15:52] darokel opened #219 "Best way to validate plain object"
I've tried to get ember-cp-validations working with just a plain object but kept getting an undefined error on `validate()` method. I'm trying to get validations on a simple login form with no models but can't seem to wire everything together:

Login Form Component Template:
[code]

Login Form Component JS:
[code]

Login Template:
[code]

Login Controller:
[code]

Login Route:
[code]

[2016-06-21 17:27] aronysidoro opened #222 "Best way to do model validation in one form, but exclude validation requirement from another form"
**Problem:** I'd like to do validation on a "create" form for it to require a User ``password`` to create a User.  But, on the update form, not to require a ``password``.

If I put the validations on the ``model`` it will always require the ``password`` field.  So, in this case, do you recommend putting it on the ``new User component``?  Just looking for a high level recommendation.  Or if all can

[2016-06-21 19:03] offirgolan commented on #219
Currently in your 'Login Form Component JS' you're validations are targeted on the component. Meaning your validations on `identification` and `password` are pointing to a property on the component, not the model. You can do something like this:

[code]

[2016-06-21 21:17] offirgolan commented on #222
Both methods are possible.

You can either place your validations on the component like you said, or place the validations on the model and using `disabled` to toggle the password validation.

[code]

[2016-06-21 21:19] aronysidoro commented on #222
@offirgolan thank you for your response. I didn't know about `disabled`. I really like your solution. Cheers!

[2016-06-21 21:19] #222 closed

[2016-06-21 21:20] offirgolan commented on #222
@aronysidoro no problem! Glad I could help out 😸

[2016-06-22 23:43] hhff opened #224 "Ember-Data is required to use the DS Error validator - Too Strict for ED 2.6+"
In recent versions of Ember Data, validating that Ember Data exists by `self.DS` is no longer effective - because ED imports work like this now:
[code]

This error is thrown:
https://github.com/offirgolan/ember-cp-validations/blob/d682193c1bb978ad56b300d38c1297e42aa96ba7/addon/validators/ds-error.js#L10

I'd recommend something like this:
[code]

That cool?  if so I'll shoot over a PR

[2016-06-23 16:31] stefanpenner commented on #224
try/catch hurts debuggability, the following should work:

[code]
https://github.com/ember-cli/loader.js/blob/master/lib/loader/loader.js#L264-L266

[2016-06-23 16:39] hhff commented on #224
ah!  👌

[2016-06-23 16:39] hhff commented on #224
PR incoming

[2016-06-24 09:44] PratheepV opened #227 "collection.@each.attribute validations"
Hi,

I am trying @each.name on collection, expecting the errors on each of those elements.
[code]
not listing errors. Please guide me.

[2016-06-25 03:16] duro opened #228 "Clearing a form after submission"
I have a form that allows a user to create a model. This form is created as a component that open in a panel on button click. Upon successful creation the panel closes. If the panel is opened back up, the form should be empty, ready for a new entry. This is not the case. Even if the form panel component is destroyed and re-init'd, it seems the form values are still there.

I have tried setting the

[2016-06-25 05:57] offirgolan commented on #228
How I see it, you have a couple options.

1. You can use an addon to help manage the state of your `formData` either by using [ember-time-machine](https://github.com/offirgolan/ember-time-machine) or via [ember-buffered-proxy](https://github.com/yapplabs/ember-buffered-proxy)

2. You can place your validations on your model instead of the component. I dont really know why its not being properly de

[2016-06-25 16:06] blimmer commented on #209
Also, I'm not incredibly familiar with ember-changeset, but I've had good luck mixing Validations directly into ember-buffered-proxy before. The proxy nicely allows running validations on the proxied changes before applying them to the real model:

[code]

I do, however, think this feature could be useful for this and other purposes. @offirgolan I 👍 the API direction you're proposing!

[2016-06-25 16:08] blimmer commented on #219
I think @offirgolan identified the problem you're running into. I'm going to close this for now, but feel free to reopen if it's not resolved!

[2016-06-25 16:08] #219 closed

[2016-06-27 21:23] offirgolan opened #233 "Error creating validator test with blueprint"
[code]

@blimmer

[2016-06-28 02:28] #209 closed

[2016-06-28 05:28] dustinfarris opened #236 "ds-errors validator does not work in component"
ds-errors is great when embedded directly in the model, but when used in a component, e.g.

[code]

I think the `validate` function never fires when a model is saved in this way.

[2016-06-28 06:25] dustinfarris opened #237 "disabled as a global option doesn't work"
When i try this:

[code]

The console.log never fires.  The validations are disabled though—despite the fact that I am returning false.

[2016-06-28 06:30] dustinfarris commented on #237
Actually disabled as a function doesn't work right no matter how you use it.

[2016-06-28 17:35] offirgolan commented on #237
@dustinfarris what version of ember-cp-validations are you on?

[2016-06-28 17:41] dustinfarris commented on #237
2.9.3

[2016-06-28 17:43] offirgolan commented on #237
Does it work when you do this:

[code]

[2016-06-28 23:52] #224 closed

[2016-06-29 00:02] offirgolan commented on #227
@PratheepV What you are trying to do is not possible. You would need to to add validations to each `emergency_contacts` object and then finally add `validator('has-many')` on `user.emergency_contacts`.

[2016-06-29 02:38] blimmer commented on #233
Asked for clarification on a workaround on the [corresponding ember-cli bug](https://github.com/ember-cli/ember-cli/issues/5481)

[2016-06-29 02:40] blimmer commented on #227
Also, it might make sense to apply the validations to the Models themselves vs. the Component.

[2016-06-29 03:19] #236 closed

[2016-06-29 21:13] #227 closed

[2016-06-29 21:16] offirgolan commented on #23
@blimmer I dont believe this is currently in scope nor will it ever be. There are a good amount of form libraries out there have adopted CP Validations or at least created hooks for this library so it can be used side by side.

Example addons:

- [ember-bootstrap](https://github.com/kaliber5/ember-bootstrap)
- [ember-cli-materialize](https://github.com/mike-north/ember-cli-materialize)

Im gonna g

[2016-06-29 21:16] #23 closed

[2016-06-29 21:27] #180 closed

[2016-07-01 20:06] offirgolan commented on #228
Im gonna go ahead and assume this issue has been resolved. Feel free to reopen if needed.

[2016-07-01 20:06] #228 closed

[2016-07-01 21:23] JasonLin37 commented on #153
Hi guys, really like this addon, but I'm running into some trouble validating on submit.

I initially had the same error as above but I got around it by passing the model into the submit action, like this: {{action 'submit' model}}

      `actions: {
		submit: function(model) {
	      model.validate().then(({
	        model,
	        validations
	      }) => {
	        if (validations.get('isValid

[2016-07-02 02:35] JLin37 opened #246 "not validating on submit"
EDIT: ok, it seems like once I put the actions code into the controller for my route it worked fine.
I'm new to ember, so forgive me for a noob question, but isn't ember 2.0 onwards depreciating the use of controller? So would it be better to do this right in the route? and if so, how would I implement it?

Hi guys, really like this addon, but I'm running into some trouble validating on submit.

I

[2016-07-02 06:02] #233 closed

[2016-07-02 07:12] TheCrazyDigitalPainter commented on #91
Could you please share the final code I've got the same issue

[2016-07-02 12:10] PratheepV commented on #227
@offirgolan , @blimmer Thanks for the clarification. Currently I using inline validator.

[2016-07-02 22:59] #246 closed

[2016-07-04 00:19] blimmer commented on #246
Did you figure it out? If so, can you post the solution in case others find this?

[2016-07-04 02:23] JLin37 commented on #246
@blimmer well in my Edit at the top I ended up just creating a controller for my route and put the action code in there and everything worked fine. also worked fine when using it in a component. But from what I gather about ember going forward they plan to remove controllers from blueprint, so was asking if there are plans to move the implementation into the route directly instead of using the con

[2016-07-04 15:30] blimmer commented on #246
To get around using a Controller, I would consider making your form logic into a Component. I usually follow the pattern of having my route render just one component so I'm not introducing Controllers and will be ready if routable components ever happen.

You might also look at [ember-route-actions](https://github.com/DockYard/ember-route-action-helper).

[2016-07-05 12:45] hschmidt99 commented on #237
I have a similar use case and am currently working with version 3.0.0-beta.0
What I can confirm is that the global disabled-computed is being utilized whenever a validator doesn't specify its own disabled logic, so it's more or less a default option.
My intuition was that it would act as a real global disabled aka "Check the topmost disabled first and only if that is false, check the disabled prop

[2016-07-06 00:23] offirgolan commented on #237
@hschmidt99

[- docs](http://offirgolan.github.io/ember-cp-validations/docs/modules/Advanced%20Usage.html#globalOptions)

[2016-07-13 15:49] basz opened #250 "Error after upgrade to 3"
As soon as I import I get an error coming from ember-cp-validations/utils/utils the hasEmberData method.

[code]
[code]

[2016-07-13 20:19] basz commented on #250
related? https://github.com/offirgolan/ember-cp-validations/pull/239

[code]

[2016-07-13 20:22] basz commented on #250
for now i've changed it back to the previous detection method so I can continue...

[code]

[2016-07-13 20:25] basz opened #251 "Q: Don't validate on when initialised"
When my forms load validation is performed immediately, resulting in a rather hars 'do are doing wrong!' UX feeling :-)

You example app doesn't do that.

I suspect bootstrap implementation of cp-validations I am using triggers this, but I'm not sure.

Any idea why this is?

[2016-07-13 20:46] basz commented on #251
Never mind the bs-input property `showValidation=false` seems to do what i want...

[2016-07-13 20:46] #251 closed

[2016-07-14 09:12] offirgolan commented on #250
@basz can you give me the output from `ember version --verbose`

[2016-07-14 10:15] basz commented on #250
[code]

[2016-07-14 19:13] #250 closed

[2016-07-15 08:01] ugoa opened #254 "How to validate belongsTo/hasMany relationship?"
I have a  `merchant` and a  `location` model, a `merchant` has a `hasMany` relationship with `location`. what I want to validate is `a merchant must have at least one location` when creating a merchant. How can I achieve this? I went through all the documents but still not sure which validator I should use.

Appreciate it if anybody can help.

- Ember Version: 2.4.5
- Ember CLI Version:2.4.3
- Emb

[2016-07-15 15:05] SirZach opened #255 "thoughts on the presence validator doing a trim()?"
more of a discussion topic than an issue. i noticed the other day that the `presence` validator treats whitespace as present. this is probably not desired but i haven't seen anyone else report this type of problem. i'll probably write a custom `nowhitespace-presence` validator for the time being. thanks!

[2016-07-15 15:05] SirZach commented on #255
d'oh, it's a configuration option. thanks!

[2016-07-15 15:05] #255 closed

[2016-07-16 20:53] iheanyi opened #256 "Usage in tests?"
### Environment

- Ember Version: 2.6.2
- Ember CLI Version: 2.5.1
- Ember CP Validations Version: 3.0.0-beta.1

### Steps to Reproduce
1) Setting a Question model with the following validators.

[code]

And I'm trying to use it in my unit test like so.

[code]

Yet `isValid` is returning `true`, although I expect it to return `false`. Do you have any idea why? Been trying to figure this out and I

[2016-07-16 21:25] iheanyi commented on #256
I figured it out, having the `debounce` in there was causing the tests to fail. Any suggestions you have for safeguarding against this in tests? Thanks.

[2016-07-18 14:38] Pasikonik opened #257 "Current length in message"
How can I read and pass current length of attribute?
I want to create message like: "10 characters is not enough"

[2016-07-19 14:57] anvyst commented on #150
@kernel-io,

In my case, validating POJO's within the component, global setup worked this way:
[code]

addon version: **3.0.0-beta.2**

[2016-07-19 19:05] offirgolan commented on #257
You can use the [message option](http://offirgolan.github.io/ember-cp-validations/docs/modules/Validators.html#message)

[2016-07-19 19:06] offirgolan commented on #256
@iheanyi you are totally right! I should a snippet of this in the docs. Glad you were able to figure it out 😺

[2016-07-19 19:06] #256 closed

[2016-07-19 19:11] offirgolan commented on #254
[code]

If the above doesnt work, try this:

[code]

[2016-07-19 19:14] Pasikonik commented on #257
attribute, that makes sense :)
thanks!

[2016-07-19 19:14] #257 closed

[2016-07-20 07:20] ugoa commented on #254
@offirgolan The first one works, many thanks! Awesome add-on!

[2016-07-20 20:44] offirgolan commented on #254
Fantastic! Glad to help out 😺

[2016-07-20 20:44] #254 closed

[2016-07-20 20:44] offirgolan commented on #237
@dustinfarris have you been able to resolve your issue?

[2016-07-21 00:45] steven-ferguson commented on #237
I noticed the docs show disabled being used as a function, but the tests only use it as a [property or a computed property](https://github.com/offirgolan/ember-cp-validations/blob/master/tests/integration/validations/factory-general-test.js#L377-L421). Switching to a computed property for disabled resolved the problems I was having.

[2016-07-21 02:53] dustinfarris commented on #237
I'm using ember-changeset-validations now.  Please feel free to close, but looks like there is still an open issue with updating docs for 3.x.

[2016-07-21 17:39] #237 closed

[2016-07-24 05:32] rosspi opened #261 "custom validations not registered"
I'm sorry but I cannot get my custom validator to be picked up.
I've basically copied the example here: https://offirgolan.github.io/ember-cp-validations/docs/classes/Custom.html
But I get a 'Validator not found of type: unique-username' error.
Stepping through the js, I can see that no unique-username has been registered, so it's a legit error. I feel like there might be some unspoken obvious thi

[2016-07-25 03:05] offirgolan commented on #261
@rosspi have you created the `unique-username` validator in your app? If not, just run `ember g validator unique-username` and it will get you set up.

[2016-07-25 03:07] rosspi commented on #261
I did not use the generator, so that's my problem.
How do i create the validator manually? I have obviously made the validator in that unqiue-username.js file, as per the tut, but what makes it registry in the relevant factory?

[2016-07-25 04:44] offirgolan commented on #261
For the validator to get registered, the file needs to be in the
app/validators directory.

On Sun, Jul 24, 2016 at 8:07 PM Ross <notifications@github.com> wrote:

--
Thanks,
Offir Golan

[2016-07-25 04:47] rosspi commented on #261
Ah, seems obvious in hind sight.

[2016-07-25 04:47] #261 closed

[2016-07-25 04:49] offirgolan commented on #261
Haha no worries! Glad I could help out 😸

On Sun, Jul 24, 2016 at 9:48 PM Ross <notifications@github.com> wrote:

--
Thanks,
Offir Golan

[2016-07-26 19:45] GCheung55 opened #268 "Validator generator shows "init without calling this._super" deprecation warning."
### Environment

- Ember Version: 2.6.1
- Ember CLI Version: 2.6.2
- Ember CP Validations Version: 3.0.0-beta.3

### Steps to Reproduce

- Install ember-cp-validations: `ember install ember-cp-validations`
- Run generate command: `ember generate validator foo-bar`
- See warning:
[code]

[2016-07-27 04:52] offirgolan opened #275 "Broken build: ember-release (object destroy tests)"

[2016-07-27 04:52] #268 closed

[2016-07-27 04:53] offirgolan commented on #268
@GCheung55 thanks for bringing this to my attention. Fix is in master 😺

[2016-07-27 08:43] darokel commented on #219
Yup this approach worked, thanks!

[2016-07-27 13:36] mashpie commented on #222
sadly can't get that to work. Am I missing anything? Or is there something more to do than:

validations setup in Model (stripped down to password):

[code]

create Model on route:

[code]

calling validate in controller

[code]

still validates all attributes including password. Any hints? Thanks a lot!

[2016-07-29 20:31] aaronbhansen opened #283 "Deeply nested validations don't bubble to the parent"
### Environment

- Ember Version: 2.6.3
- Ember CLI Version: 2.6
- Ember CP Validations Version: 2.9.3

### Steps to Reproduce

Mostly throwing this out there to see if you've experienced and its known, or if have heard of any other issues similar.

When we have a model that has multiple has-many validations, and you validate from top parent, the parent comes back as valid, even though the lower c

[2016-08-01 19:08] offirgolan commented on #283
@aaronbhansen seems like a bug to me. Any chance you can reproduce this in a dummy app and share it with me to help me debug the issue?

[2016-08-01 21:36] aaronbhansen commented on #283
I did a sanity check just to be sure. Added some unit tests to a branch you can pull in and check yourself. Here are the results:

![image](https://cl.ly/3r0O3B3i2w03/Screen%20Shot%202016-08-01%20at%203.33.41%20PM.png)

Here is the branch with the tests you can try yourself https://github.com/unchartedcode/ember-cp-validations/tree/ember-data-nested

The tests are the reverse of validating several

[2016-08-01 22:11] offirgolan commented on #283
@aaronbhansen perfect. Thank you!

[2016-08-02 01:15] georgi-kovachev opened #289 "calling predefined validator in custom validator"
I created the custom validator in dependent-state.js

import BaseValidator from 'ember-cp-validations/validators/base';
import LengthValidator from 'ember-cp-validations/validators/length';
import validator from 'ember-cp-validations';

export default BaseValidator.extend({
  validate(value, options, model, attribute) {

    if (model.get('country') !== 'US') {
      return true;
    }
    else {

[2016-08-02 21:49] georgi-kovachev commented on #289
any updates on this ticket?

[2016-08-02 21:54] offirgolan commented on #289
@georgi-kovachev it looks like you just want to disable a length validator if the country is not 'US'. Why not do something like this instead:

[code]

[2016-08-02 21:56] georgi-kovachev commented on #289
how I still apply length should be max 2 for US? I used to do

[2016-08-02 22:01] offirgolan commented on #289
validator('length', {
  disabled: computed('model.country', function() {
    return this.get('model.country') !== 'US';
  }),
  max: computed('model.country', function() {
    return this.get('model.country') === 'US' : 2 : undefined;
  })
});

[2016-08-02 22:43] georgi-kovachev commented on #289
I just replaced the code as  Ember.computed.
But I receive organization-address.js:33 Uncaught TypeError: this.get is not a function
http://prntscr.com/c0v5zy
[code]

[2016-08-02 23:21] offirgolan commented on #289
What version of ember-cp-validations are you on? Using Ember.computed is only compatible in v3.x

[2016-08-02 23:27] georgi-kovachev commented on #289
"ember-cp-validations": "git://github.com/unchartedcode/ember-cp-validations#162b424b50e1009f01907a22c119704d5b294227",

It is using another library which is forked from your library.

[2016-08-02 23:31] offirgolan commented on #289
Alright well try something like this:

[code]

If this doesnt work then you will have to open an issue on the fork's github page since I dont know what changes they have made to this library.

[2016-08-02 23:43] georgi-kovachev commented on #289
Thanks it is working. Thanks for your help.

[2016-08-02 23:43] #289 closed

[2016-08-03 23:53] offirgolan commented on #283
@aaronbhansen thank you for the fantastic set of nested model test cases. It was a huge help in identifying a few hidden problems. I was able to get all test cases to pass except for one.

It seems as though promises from the child nodes of the relationship tree do not properly get resolved. When you do `order.validated().then()`, even though the promise gets resolved, the model is still in a vali

[2016-08-04 06:51] ugoa commented on #254
Unfortunately I received error like below:
[code]
The error log is quite long so I only paste only part of them, please let me know if you need more info. Thanks.

[2016-08-04 07:34] offirgolan commented on #254
@ugoa this is a known issue. Im currently working on this and have a fix for it in a branch (nested-models). Feel free to checkout that branch in the mean time until I fix all underlying issues.

[2016-08-04 23:52] offirgolan commented on #283
@aaronbhansen took some time but I was finally able to isolate the issue. Ill release a new beta version tonight with the fix 😸

[2016-08-05 05:02] #283 closed

[2016-08-06 15:13] datasc123 opened #300 "model.validate() not a function"
### Environment

- Ember Version: 2.4.3
- Ember CLI Version: 2.4.3
- Ember CP Validations Version: 3.0.0-beta.4

### Steps to Reproduce

In my route's action, I used the same as provided in the dummy example and in the model as well. Still does not work for me.

In closed issues I found the same problem, but
`this.currentmodel` did not help

[2016-08-08 22:43] offirgolan commented on #300
@datasc123 when you have a action in your route, you cannot do `this.get('model')` since this.model is a function. I suggest when you call your action from your template/controller/component, you pass it the current model you are trying to validate.

So instead of

[code]

You do something like this:

[code]

[2016-08-09 12:39] moubi commented on #275
@offirgolan please provide more info.
Tests break on my side as well when using `validator('format')`
I am using `3.0.0-beta.3`

[2016-08-09 17:38] offirgolan commented on #275
@moubi I dont believe this should effect your app's test cases. Please upgrade to the latest beta and open a new issue with more details regarding your specific issue.

[2016-08-09 23:28] aaronbhansen opened #304 "Deleted records are still validated"
### Environment

Ember Version: 2.6.3
Ember CLI Version: 2.6
Ember CP Validations Version: 2.9.3

### Steps to Reproduce

I was doing some work on our app and was curious if deleted, but not saved records would still validate, and they do. I believe the has-many validator should be updated to ignore deleted but not saved to the server records.

I wrote a test based on my previous ones to show this

[2016-08-10 04:58] offirgolan commented on #304
@aaronbhansen those are some good points but open up some other questions.

This task is rather simple. All that is required is to filter out all records that have `model.get('isDeleted) !== true` but what happens when all records in the has-many array are deleted? Does it return `true` to express a valid state?

The same can be said to the belongs-to validator. If the given record is deleted, doe

[2016-08-10 05:33] aaronbhansen commented on #304
I agree, mostly I wanted to throw this ticket out there and get a discussion started.

I think any has-many object shouldn't be part of the validation. The reason I brought up presence and not the other was validators is I think most validators should be ignored if the belongs-to object is deleted. But presence is a unique situation, where the relationship still exists (and the object is present),

[2016-08-10 14:44] taheilo opened #306 "Ember inspector - Named scope"
### Environment

- Ember Version: 2.6
- Ember CLI Version: 2.6
- Ember CP Validations Version: 3.0.0-beta.3

### Feature request

I would love if it was possible to assign a named scope to the validations mixin, so that in the ember inspector, the validations are not grouped under a `(unknown mixin)` tab.

### Reading that could help solving the issue

https://github.com/emberjs/ember-inspector/is

[2016-08-10 16:39] timmyomahony opened #308 ""Validator not found of type: presence.""
### Environment

- Ember Version: 2.5.0
- Ember CLI Version: 2.5.0
- Ember CP Validations Version: 3.0.0-beta.5

### Steps to Reproduce

I have installed `ember-cp-validations` with `ember install ember-cp-validations@3.0.0-beta.5` and I have following model set up:

[code]

but I keep getting the error:

on the console:

![screen shot 2016-08-10 at 17 38 11](https://cloud.githubusercontent.com/as

[2016-08-10 17:30] timmyomahony commented on #308
I'm a fool. `presence` != `presense`

[2016-08-10 17:30] #308 closed

[2016-08-10 20:53] #306 closed

[2016-08-10 20:53] offirgolan commented on #306
@taheilo thank you for bringing this to my attention. It will be included in the next release 😺

[2016-08-12 19:30] offirgolan commented on #275
Resolved in #279

[2016-08-12 19:30] #275 closed

[2016-08-13 01:01] timiyay opened #318 "Deprecation warning for v-get from ember-cli-htmlbars-inline-precompile"
### Environment

- Ember Version: 2.7.0
- Ember CLI Version: 2.7.0
- Ember CP Validations Version: 2.9.3
- `ember-cli-htmlbars-inline-precompile` Version: 0.3.5

### Steps to Reproduce

* Install `ember-cli-htmlbars-inline-precompile` 0.3.5
* Install `ember-cp-validations` 2.9.3
* Start `ember server`

An error message will be displayed:

[code]

[2016-08-13 09:27] offirgolan commented on #318
@timiyay thanks for opening up this issue. This has been resolved in #305 and is currently in master 😺

[2016-08-13 09:27] #318 closed

[2016-08-15 05:16] kasunvp opened #319 "Deprecation warnings after upgrading to ember-cli v2.7.0"
### Environment

- Ember Version: 2.7.0
- Ember CLI Version: 2.7.0
- Ember CP Validations Version: 3.0.0-beta.5 (same with v2.9.3)

### Steps to Reproduce
1. create new Ember app with v2.7.0
2. install ember-cp-validations addon
3. run `ember s`

it will display:

[code]

[2016-08-15 05:18] rwjblue commented on #319
This is a duplicate. Issue is fixed on master, but not released yet.

[2016-08-15 05:18] rwjblue commented on #319
https://github.com/offirgolan/ember-cp-validations/issues/318

[2016-08-15 05:27] kasunvp commented on #319
Thanks! Sorry about the duplicate. Closing this now.

[2016-08-15 05:27] #319 closed

[2016-08-15 05:28] rwjblue commented on #319
No worries! I'm not 100% sure what the release blockers are. I'll try to circle around with @offirgolan tomorrow and find out.

[2016-08-15 05:44] kasunvp commented on #319
That would be great! :+1:

[2016-08-15 09:57] timmyomahony opened #320 "Ensuring other validators pass first when including a custom validator?"
I am writing a custom validator to check for email uniqueness. My custom validator checks a backend API to make sure that the supplied email isn't already signed-up.

I use it like so:

[code]

I notice that my custom validator is running even when the `presence` and `format` validators are failing. Is is possible to make sure that my validator _doesn't_ run if the preceding validators fail? Other

[2016-08-15 10:05] timmyomahony commented on #320
I think I figured this out. You can simply check within your `validate` method to see if the attribute is currently validating or not and then abort the custom validation:

[code]

[2016-08-15 18:28] offirgolan commented on #320
@timmyomahony I think you bring up a valid use case. In theory, a validation should only be run if the previous validation is passing. Currently, all validations are run every time something changes but that logic is a bit flawed.

In your first example, the format and unique-email validators should only need to run when the presence validator passes.

I'll work on putting something together 😸

[2016-08-16 03:01] ugoa commented on #254
@offirgolan Hi, could you please update me how this issue was fixed, or not. I tried to find the branch but it's not there anymore, please advise. Thanks.

[2016-08-16 04:22] offirgolan commented on #254
@ugoa if you are on 3.0-beta, I suggest upgrading to the latest version which has this fix in it.

`npm i ember-cp-validations@beta`

[2016-08-16 04:22] offirgolan commented on #319
@kasunvp `v2.9.4` has been released with this fix.

[2016-08-16 06:25] timmyomahony commented on #320
Thanks for the quick reply. Intuitively I would have thought that the validators would run in order and stop processing when one fails so yes, maybe there is a use case there. That said, checking ```model.get(`validations.attrs.${attribute}.isValid`)``` seems to work OK so maybe just a documentation change is all that is needed for the moment?

Maybe there could be both a global and validator opti

[2016-08-16 16:33] jameshoward opened #322 "validations.errors not updating when hasMany validation changes"
### Environment

- Ember Version: 2.6.0
- Ember CLI Version: 2.4.2
- Ember CP Validations Version: 2.9.4

### Steps to Reproduce

* Add has many validation to a model with a has many to an object that also has more than one validator defined. E.g. team has many players, player has a `firstName` and `lastName` that must both be present.
* Add a new empty player. Validation (`team.validation.errors`

[2016-08-16 17:00] offirgolan commented on #322
@jameshoward can you post some snippets for your models / validations?

[2016-08-17 08:16] jameshoward commented on #322
I've built a test project that demonstrates the issues I'm having: https://github.com/jameshoward/ember-cp-validations-test

You can either dig around in the code or fire it up and have a look. Here's what I'm seeing:

1. Initial state shows that the team is invalid because `name`is blank. Correct.
2. Add a player. Validation for the player is correct as `firstName` / `lastName` is blank. However,

[2016-08-17 11:29] Moedav commented on #319
When will there be a fix for `v3`?

[2016-08-17 17:26] offirgolan commented on #319
@Moedav Im waiting on 2 PRs to get merged before I make another 3.0 beta release.

[2016-08-17 17:27] offirgolan commented on #322
@jameshoward thanks for putting this together. Ill take a closer look when I have some time later this week.

[2016-08-18 11:20] rinoldsimon opened #324 "getting deprecation message"
### DEPRECATION: Using the global version of DS is deprecated. Please either import the specific modules needed or `import DS from 'ember-data';`. [deprecation id: ember-data.global-ds]

my model:
[code]

[2016-08-18 13:00] leoeuclids commented on #324
The deprecation your getting is related to 'ember-data', not 'ember-cp-validations'.

Anyway, it's quite simple to fix. Just remove the DS import and import the modules directly.
[code]

Reference: https://guides.emberjs.com/v2.6.0/models/defining-models/

[2016-08-18 13:11] rinoldsimon commented on #324
I'm using Ember version 2.7.0 !
The guide says to import DS from ember-data

Reference : https://guides.emberjs.com/v2.7.0/models/defining-models/

[2016-08-18 13:16] leoeuclids commented on #324
Yep! I've seen that too.
The 2.7.0 Guides are showing the old way of importing 'ember-data'.
Try doing it as described on the 2.6.0 guides, which should work without deprecations.

[2016-08-18 13:21] leoeuclids commented on #324
It's actually being fixed https://github.com/emberjs/guides/issues/1597.
Should close this one.

[2016-08-18 13:22] rinoldsimon commented on #324
Even the below code throws the same DEPRECATION message !
[code]

Removing `Validations` from `export default Model.extent({ });` works fine without any DEPRECATION message. So the problem is with `ember-cp-validations`

[2016-08-18 13:23] rwjblue commented on #324
This deprecation happens when using `window.DS` not the `DS` from `import DS from 'ember-data';` (as referenced from the guides).

It looks like ember-cp-validations is always grabbing `DS` from the module (GH code search [here](https://github.com/offirgolan/ember-cp-validations/search?p=3&q=DS&utf8=%E2%9C%93)), so I doubt the deprecation is coming from ember-cp-validations.

[2016-08-18 13:24] rwjblue commented on #324
Looks like this was fixed in https://github.com/offirgolan/ember-cp-validations/pull/239 actually.

[2016-08-18 13:29] rinoldsimon commented on #324
But getting the DEPRECATION message. What should be changed in my side ?

[2016-08-18 14:08] leoeuclids commented on #324
It seems that the fix made it to master (released on version v3.0.0-beta.5), but not the v2.x branch, as seen here https://github.com/offirgolan/ember-cp-validations/blob/v2.x/addon/utils/utils.js, so v2.9.4 still has the issue.